{{- $type := .Get "type" -}} <!-- options: year, range -->
{{- $date := .Get "date" -}} <!-- options: all, YYYY, next_12m, prev_12m, next_all, prev_all -->
{{- $month_counter := "0" -}} <!-- set to non-existing month number to let month name display initially -->

<!-- range over all pages whose front matter holds "event: true", sorted by date_start -->
{{- range sort (where .Site.Pages "Params.event" true) "Params.date_start" "asc" -}}
  {{- $display := 0 -}} <!-- by default, event will not be displayed -->
  {{- $ts := (time .Params.date_start) -}} <!-- write in variable -->
  {{- $te := (time .Params.date_end) -}} <!-- write in variable -->
  {{- $day := dateFormat "02" $ts -}} <!-- 02 is 2-digit day -->
  {{- $month := dateFormat "January" $ts -}} <!-- event date as month name -->
  {{- $year := dateFormat "06" $ts -}} <!-- event date as month number-->
  {{- $month_no := dateFormat "01" $ts -}} <!-- 01 is 2-digit month -->
  {{- $range_next := now.AddDate 1 0 0 -}} <!-- date in 12 months as limit for "range next" -->
  {{- $range_prev_diff := now.Sub $ts -}} <!-- difference between now and event start -->

  {{- /* <!-- evaluate whether to show event. if so, set $display = 1 --> */ -}}
  {{- if eq $type "year" -}} <!-- type = year -->
    {{- if eq $ts.Year (int $date) -}}
      {{- $display = 1 -}}
    {{- end -}}
  {{- else if eq $type "range" -}} <!-- type = range -->
    {{- if eq $date "next_12m" -}} <!-- date = next_12m -->
      {{- /* <!-- between now and +1 year --> */ -}}
      {{- if and ($ts.After now) ($ts.Before $range_next) -}}
        {{- $display = 1 -}}
      {{- end -}}
    {{- else if eq $date "prev_12m" -}} <!-- date = prev_12m -->
      {{- /* <!-- between -8760 hours and now --> */ -}}
      {{- if and ($ts.Before now) (lt $range_prev_diff.Hours 8760) -}}
        {{- $display = 1 -}}
      {{- end -}}
    {{- else if eq $date "next_all" -}} <!-- date = next_all -->
      {{- if $ts.After now -}}
        {{- $display = 1 -}}
      {{- end -}}
    {{- else if eq $date "prev_all" -}} <!-- date = prev_all -->
      {{- if $ts.Before now -}}
        {{- $display = 1 -}}
      {{- end -}}
    {{- else if eq $date "all" -}} <!-- date = all -->
      {{- $display = 1 -}}
    {{- end -}}
  {{- end -}}

  {{- /* <!-- display event only if conditions before met --> */ -}}
  {{- if eq $display 1 -}}
    {{- /* <!-- show month in headline if this is its first occurence --> */ -}}
    {{- if ne $month_no $month_counter -}} <!-- does the current month occur the first time? -->
      {{- if ne $month_counter "0" -}} <!-- close <ul> if not first occasion -->
        </ul>
      {{- end -}}
      <h2>{{ $month }} '{{ $year }}</h2> <!-- print month 'year -->
      <ul>
      {{- $month_counter = $month_no -}} <!-- update month counter to current month -->
    {{- end -}}

    <!--<li>{{ $day }} {{ $ts.Year }}: {{ .Params.title }} in {{ .Params.city }}</li>-->
    {{ partial "event" (dict "context" . "day" $day "year" $ts.Year ) }}
  {{- end -}}
  {{- /* <!-- /display event --> */ -}}
{{- end -}} <!-- /range all events -->
</ul>
