[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
python-slugify = "*"
icalendar = "*"
iso639-lang = "*"
pyyaml = "*"
flask = "*"
flask-httpauth = "*"

[dev-packages]
reuse = "*"
