<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/about.html">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="About // foss.events, the most comprehensive collection of FOSS events in Europe"/>
    <meta name="keywords"
          content="Free Software,FOSS,FLOSS,Software Libre, Open Source,Events,Camp,Conferences,Collection,Europe,Unity,Diversity,about,contact,contribute,sustainability,criteria,open data,privacy"/>

    <!-- Open Graph meta-data (e.g. Facebook) -->
    <meta property="og:title" content="// foss.events"/>
    <meta property="og:url" content="https://foss.events/about"/>
    <meta property="og:image" content="https://foss.events/img/logo.png"/>
    <meta property="og:description" content="About // foss.events, the most comprehensive collection of FOSS events in Europe"/>
    <meta property="og:locale" content="en"/>

    <!-- Twitter meta-data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@FOSS_events"/>
    <meta name="twitter:title" content="// foss.events"/>
    <meta name="twitter:description" content="About // foss.events, the most comprehensive collection of FOSS events in Europe"/>
    <meta name="twitter:image" content="https://foss.events/img/logo.png"/>
    <meta name="twitter:creator" content="@FOSS_events"/>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>About // foss.events</title>
</head>

<body>

<div id="top"></div>

{% include 'partials/header-logo.html' %}

<h3 class="about-nav-headline">about:navigation</h3>

<p class="about-nav">
    <a href="#website" class="about-nav__item">Website</a><!--
    --><a href="#data" class="about-nav__item">Data</a><!--
    --><a href="#contributing" class="about-nav__item">Contribute</a><!--
    <a href="#promoting" class="about-nav__item">Promoting</a>
    <a href="#sustainability" class="about-nav__item">Sustainability</a>
    <a href="#privacy" class="about-nav__item">Privacy</a>
    --><a href="#contact" class="about-nav__item">Contact</a>
</p>

<h1 id="project" class="topheading">About // foss.events</h1>
<div style="padding: 0 40% 3em 40%">
    <hr>
</div>

<section>
    <p>
        Planet Earth in its late 2010s: Europeans are facing massive right-wing
		populism, leading into an uprise of right-wing movements in most parts of
		the continent. In just a little of time, nationalist parties and conservative
		leaders are tearing down fundamental freedoms, checks and balances that have taken decades to be introduced and established. Borders get closed to lock-in societies. 
    </p>
    
    <p>
		FOSS does the opposite. It guarantees fundamental freedoms for everyone and rewards collective knowledge sharing. Their communities build moments of time in which Freedom enthusiasts across the continent come together to share and exchange knowledge in a friendly	and collaborative way. To grow and live (in) a free society, we need freedom of exchange, knowledge and collaboration. <strong>Freedom
        of people - just as freedom of code - is fundamental to Free, Libre and Open Source Software and their
        communities.</strong>
    </p>

    <p>
        // foss.events connects moments that help growing a free society. As long as inner-European borders can be crossed and international events are
		possible, we encourage you to get to know each other. Create
		international organisations, form resilient communities and build friendships
		between each other across borders. Go to a FOSS event in another country, an event where you have never been before. Get to know new people there,
		their habits, knowledge and backgrounds. Help each other and listen to each
		other. And above all do what you always love to do:
    </p>

    <p class="about-four-freedoms">
        <strong>Use, study, share and improve. Together.</strong>
    </p>

</section>

<section class="section">
    <div class="stickercontainer">
        <div class="stickercontainer__sticker">
            <h3>No borders. No nations.</h3>
            <h3>Just humans.</h3>
            <h3>And tech.</h3>
        </div>

        <div class="stickercontainer__sticker">
            <h3>No DRM. No firewalls.</h3>
            <h3>Just freedom.</h3>
            <h3>And humans.</h3>
        </div>
    </div>

    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>
</section>


<section id="website" class="section">
    <h2 class="about-nav-headline">about:website</h2>
    
	<p class="about-nav">
		<a href="#freedom" class="about-nav__item">Freedom</a><!--
		--><a href="#diversity" class="about-nav__item">Diversity</a><!--
		--><a href="#privacy" class="about-nav__item">Privacy</a><!--
		--><a href="#sustainability" class="about-nav__item">Sustainability</a>
	</p>


    <p>
         // foss.events fos(s)ters knowledge sharing by connecting people beyond borders and nations via <a href="/">the most comprehensive collection of Free, Libre and/or Open Source Software (related) events happening in Europe</a>. 
    </p>

    <p>
       This website is a living project. What started as a simple list, written in an Etherpad and shared in the Fediverse now grows into a 
        database-driven web-project for and by the FOSS community to help connecting people and events. If you are interested to join,  <a
            href="mailto:contact@foss.events">get in contact</a>. Also drop by once in a while to enjoy the latest features : )
    </p>


    <h3 id="freedom">about:freedom</h3>

    <p>
        We believe in the 4 freedoms to <strong>use, study, share and improve any software</strong>. <a href="https://github.com/foss-events/website">The code</a> is handmade and published
        as FOSS under <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>. All data is <a href="/about.html#datalicense">published as open data</a>, all text is published <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>.
	</p>
    


 
    
    <h3 id="privacy">about:privacy</h3>

    <p>
        // foss.events does not track you. We do not collect any data or behaviour on our sites. The Electronic
        Frontiers Foundation's <a href="https://www.eff.org/privacybadger">Privacy Badger</a> gives us a Hooray for
        Privacy:
    </p>

    <div class="text-center">
        <img src="/img/2020-eff-privacy-badger-400.jpg"
             alt="Electronic Frontier Foundation's Privadcy Badger says: No trackers detected: Hooray for Privacy">
    </div>

    <p>
        // foss.events supports <a href="https://degooglisons-internet.org/en/">de-Googlization</a>. Our website is
        self-coded [<a href="#freedom">&uarr;</a>] and we do not use Google for anything! <a
            href="https://kreuzberg.google.tracking.exposed/">Google tracking exposed</a> confirms: No analysis, no
        trackers, no ads.
    </p>

    <div class="text-center">
        <img src="/img/2020-trex-google-free-400.jpg"
             class="img img--center"
             alt="kreuzberg.google.tracking.exposed says: This site is free from Google trackers!">
    </div>

    




    <h3 id="sustainability">about:sustainability</h3>

    <p>
        // foss.events is hosted using Green Energy, checked by the <a href="https://www.thegreenwebfoundation.org">The
        Green Web Foundation</a>:
    </p>

	
    <a href="https://www.thegreenwebfoundation.org/green-web-check/?url=foss.events"
       class="img-link-center"> <img
            src="https://api.thegreenwebfoundation.org/greencheckimage/foss.events"
            alt="This website is hosted Green - checked by thegreenwebfoundation.org"></a>

    <p>
        And according to the <a href="https://www.websitecarbon.com">Website Carbon Calculator</a>, // foss.events <a
            href="https://www.websitecarbon.com/website/foss-events/">is cleaner than 98% of websites tested</a> \°/
    </p>

    <a
            href="https://www.websitecarbon.com/website/foss-events/"
            class="img-link-center"> <img
            src="/img/2020-websitecarbonfootprint-300.jpg"
            alt="Websitecarbon.com says: This website is cleaner than 98% of websites tested"> </a>

    <p>Only 0.01g of CO2 is produced every time someone visits this website.</p>


   <h3 id="diversity">about:diversity</h3>

    <p>
        There are reasons and arguments why some people prefer FOSS over FLOSS or vice versa, why some refer to Open
        Source and others to Free Software or Libre Software. And who knows, potentially in the next decade even a new
        term will be created ... (We heard sustainable software is an upcoming candidate.)
    </p>

    <p>
        At // foss.events we love this diversity. All these terms have their relevance and they allow us to put slightly
        different emphasis on the same technologies. Because apart from the actual naming and the details in the
        semantics, all these names technically refer to the same kind of software: Software that is published under a
        license that grants any user the 4 freedoms to use, study, share and improve the software without limitations.
        That is why on // foss.events we will not prefer one name over the other and in case we use one, it is
        representative to all the others.</p>

		<p>Unity in diversity: <strong>No matter the name, if your event is about the four freedoms of software your
        event is part of // foss.events!</strong>
    </p>


    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>
</section>




<section id="data" class="section">
    <h2 class="about-nav-headline">about:data</h2>

    
<p class="about-nav">
    <a href="#criteria" class="about-nav__item">Criteria</a><!--
    --><a href="#legend" class="about-nav__item">Legend</a><!--
    --><a href="#datalicense" class="about-nav__item">License</a>
</p>


    <p>
        All event-data on // foss.events is <strong>collected by hand, or shared with us by the community</strong>. We try to regularly re-check the content on the site but in any case we guarantee neither completeness nor correctness of the
        data shown. In doubt, please confirm with the information given on
        the event's own website. If you find an inaccuracy on our site, please help to fix it by contributing [<a
            href="#contributing">&darr;</a>]. Find our criteria and legend below to understand our data-set:
    </p>


<h3 id="criteria">about:criteria</h3>

    <p>
        // foss.events is about creating and spreading the most comprehensive collection of FOSS events in Europe. Events are all kinds of conferences and unconferences, hackmeetings, *-a-thons, camps, festivals, exhibitions and other kind of events - as long as they match the
        following criteria:
    </p>

    <ul>
        <li>only events that <strong>happen in Europe</strong>.</li>
        <li>only events that are <strong>open for the general public</strong>. Entrance fee is
            ok, but events shall be accessible for
            everyone to participate and in particular not restricted to a specific group like the members of a specific
            group, organisation or similar.
        </li>
        <li>only <strong>"full-day" events</strong>. As a rule of thumb, that means events that are at least 6-8 hours or more.</li>
    </ul>


    <p>If you know about a Free, Libre and/or Open Source Software event in Europe that matches this criteria and is not
        yet in our list, please <a href="#contributing">contribute</a>.</p>


    <h3 id="legend">about:legend</h3>

    <ul>
        <li>
            <strong>Date</strong>, <strong>Name</strong>, <strong>Location</strong> (<em>Venue</em>, <em>City</em>, <em>Country</em>), <strong>Links</strong> (to <em>homepage</em>, <em>OpenStreetMap</em>, <em>Code of Conduct</em>, <em>Call for
            Participation</em>), <strong>latitude</strong> and <strong>longitude</strong>, <strong>Hashtag</strong> and <strong>Tags</strong>: This data is exactly what the relevant label implies.
        </li>
        <li>
            <strong>Self-Description</strong>: One sentence up to some paragraphs that
            describe the event; this is usually directly copied from the event's
            website.
        </li>
        <li>
            <strong>Type</strong>: We differentiate between different kinds of events. So far on our list we have:
            <ul>
                <li>
                    <em>Community Event:</em> An event about everything FOSS &amp; organised by/for a community, usually
                    includes booths for free by non-profit organisations. Examples: FOSDEM, Froscon, etc.
                </li>
                <li>
                    <em>Project Event:</em> An event dedicated to a particular project, for example NixOS, OpenSuse etc.
                </li>
                <li>
                    <em>Science Event:</em> An event about something FOSS, run by/for scientists.
                </li>
                <li><em>Business Event:</em> An event organised for/by business, usually includes booths by for-profit
                    organisations for money. Examples: CubeCon, OpenExpo, Linuxplumbet etc.
                </li>
                <li>
                    <em>Policy Event:</em> An event run by/for administrations, policy, politics. Examples: Connected
                    Smart Cities Conference, Digitale Souveränität, etc.
                </li>
                <li>
                    <em>Exhibition:</em> Fair. Sometimes without talks but often mixed with a conference.
                </li>
                <li>
                    <em>Hackmeeting:</em> Meetings to come together and hack without a conference around and without competition
                    like in a hackathon. Examples: GNU Hackers Meeting, Debcamp etc
                </li>
                <li>
                    <em>Hackathon:</em> competitive hack events with winners and awards
                </li>
                <li>
                    <em>Camping:</em> FOSS events outdoors with camping on-site.
                </li>
                <li>
                    <em>Festival:</em> Events that include or are only about a festival-atmosphere and entertainment.
                </li>
                <li>
                    <em>Unconference:</em> FOSS happenings that bring people together in un-organised spontaneous talks and
                    workshops like in unconferences and barcamps.
                </li>
                <li>
                    <em>Global Day:</em> Days to celebrate FOSS around the globe. Examples: IloveFS, Software Freedom Day etc.
                </li>
                <li>
                    <em>Regional Day:</em> Days to celebrate FOSS in a particular region. For example Flisol, Linux Presentation
                    Day etc
                </li>
            </ul>
        </li>
        <li>
            <strong>Entrance fee</strong>: Standard participation fee if you buy a standard ticket without discount, early bird, support ticket etc.
        </li>
        <li>
            <strong>Registration</strong>: Is registration required? Is on-site access possible or do you have to purchase or register your access beforehand?
        </li>
        <li>
            <strong>Participants last time</strong>: The estimated number of visitors this event happened the last time.
        </li>
        <li>
            <strong>Main language</strong>: The default language of the talks given, not of the visitors. The main language is English,
            for example, in case all talks are in English although the visitors speak mainly another (local) language.
        </li>
        <li>
            <strong>Main organiser</strong>: Persons or associations who are mainly organising the event. Can be multiple. 
        </li>
        <li>
            <strong>Specialties</strong>: Anything that is special about the event. Individual.
        </li>
    </ul>

    <h3 id="datalicense">about:license</h3>

<p><strong>All data on https://foss.events is open data</strong>. The databases are licensed under the <a href="https://opendatacommons.org/licenses/odbl/">Open Data Commons Open Database License (ODbL)</a>. Any individual content of these databases - except any values in the field "Self-description" - is licensed under the Creative Commons <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>. (more <a href="/data/events_db_license.txt">details</a>)</p>

<p>That means that you are free to copy, distribute, transmit and adapt our data, as long as you credit <span style="white-space: nowrap;">// foss.events</span> and so its contributors. If you alter or build upon our data you have to make it clear that this data is Open Data. We love you when you do this is by linking to <a href="https://foss.events/about.html#datalicense">our copyright page</a>. You must distribute your result under the very same licence. </p>

<strong>If you use our data, please tell us about your cool project!</strong>


    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>
</section>









<section id="contributing" class="section">
    <h2>about:contribute</h2>
    <p>
        If you know of an event that matches our <a href="#criteria">criteria</a> and you do not see it
        mentioned in our list of events, please contribute. The easiest option is to simply copy-paste the URL of the
        event into the body section of <a
            href="mailto:onemore@foss.events?subject=one more event">an email</a> and after checking we will list it
        here. Also if you see that some information is missing on our side, use <a
            href="mailto:thesameemailaddress@foss.events?subject=one more event">the same email-address</a> and send us
        any missing information of the event.
    </p>

    <p>
        <strong>If you are an organiser or you have 5 minutes of time, it would be of such a great help to this project if you
        can <a
            href="mailto:onemore@foss.events?subject=one more event&body=Hi,%0D%0A%0D%0AIt's me:%0D%0A%0D%0Aplease add/update this event on // foss.events:%0D%0A%0D%0AName:%0D%0ADate:%0D%0AURL:%0D%0AShortname:%0D%0AHashtag:%0D%0ACity:%0D%0ACountry:%0D%0AVenue:%0D%0AOSM-Link:%0D%0ASelf-Description:%0D%0ALink for Call for Participation:%0D%0ADeadline for Call for Participation:%0D%0ALink for Code of Conduct:%0D%0ATags:%0D%0AEntrance Fee:%0D%0ARegistration required:%0D%0AParticipants last time:%0D%0AMain language:%0D%0AMain Organiser:%0D%0ALink to Logo:%0D%0AAny specialties:%0D%0ASocial Accounts: ">use
        this advanced email-template</a> and help us with collecting all necessary information about an event.</strong> If you
        have trouble understanding our data set, check the <a href="#legend">legend</a> for an explanation.
    </p>

    <p>
        Or, if you feel comfortable to send us the information about your event as a pull request, you can also edit the tab-separated data file for the year of your event on <a href="https://github.com/foss-events/website/tree/master/data">GitHub</a>.
    </p>

    <h3 style="text-align:center">Thank you so much for your contribution!</h3>

    <div class="heart">♥</div>

    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>
</section>


<!--
<section id="promoting" class="section">

    <h2>about:promoting</h2>

    <p>
        If you like this project and you like to spread the word, you can <a href="/outreach.html#posters">print one or
        more of our posters</a> and put them on a wall in your hackerspace, your working place or the next conference
        you are going to. We highly appreciate this guerilla communication and if you make a picture and share it on
        social media we will definitely share it as well : )
    </p>

    <p>
        There also have already been some <a href="/outreach.html#sticker">// foss.events stickers</a> produced but
        unfortunately we are not able to send them around. If you are happy to have one and you put it in a nice place,
        the same is true as with the posters: make a picture and share it with us so we can share it as well.
    </p>


    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>

</section>

-->





<section id="contact" class="section">

    <h2>about:contact</h2>

    <p>
        Whenever you feel like giving us your feedback, you have a good idea or you want to give us a digital hug, you
        can simply send us an <a href="mailto:contact@foss.events">email</a>. Also consider following us on <a
            rel="me"
            href="https://mastodon.social/@FOSS_events">Mastodon</a> or <a href="https://twitter.com/FOSS_events">Twitter</a>
        to enjoy our toots and tweets around foss-events in Europe.
    </p>


    <h3 id="people">about:people</h3>

    <p>
        // foss.events is a project for and by all FOSS enthusiasts and everyone else who seeks living in a Free
        Society. In its daily operations, it is run by some friendly Free Software geeks who simply feel like doing what
        we feel to be good. If you are looking for direct contact, reach out to <a
            href="https://mastodon.social/@3rik">Erik Albers</a> (concept), <a
            href="https://github.com/weeman1337">Michael Weimann</a> (technical lead) or <a
            href="https://mastodon.social/@mxmehl">Max Mehl</a> (department of good advice).
    </p>


    <p>
        The domain foss.events was initially registered and run by <a href="https://openrheinruhr.de/">OpenRheinRuhr
        e.V.</a> and later generously shared with // foss.events. Thank you so much for this priceless contribution!
    </p>

    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>

</section>

<p><a href="/img/imprint.png">Imprint</a></p>

{% include 'partials/footer.html' %}

</body>

</html>
