<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/about.html">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description"
          content="Everything about // foss.events - the most comprehensive collection of FOSS events in Europe (and online)"/>
    <meta name="keywords"
          content="Free Software,FOSS,FLOSS,Software Libre, Open Source,Events,Camp,Conferences,Collection,Europe,Unity,Diversity,about,contact,contribute,sustainability,criteria,open data,privacy"/>

    <!-- Open Graph meta-data (e.g. Facebook) -->
    <meta property="og:title" content="// foss.events"/>
    <meta property="og:url" content="https://foss.events/about"/>
    <meta property="og:image" content="https://foss.events/img/logo.png"/>
    <meta property="og:description"
          content="Everything about // foss.events - the most comprehensive collection of FOSS events in Europe (and online)"/>
    <meta property="og:locale" content="en"/>

    <!-- Twitter meta-data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@FOSS_events"/>
    <meta name="twitter:title" content="// foss.events"/>
    <meta name="twitter:description"
          content="Everything about // foss.events - the most comprehensive collection of FOSS events in Europe (and online)"/>
    <meta name="twitter:image" content="https://foss.events/img/logo.png"/>
    <meta name="twitter:creator" content="@FOSS_events"/>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>About // foss.events</title>

    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</head>

<body>

<div id="top"></div>

{% include 'partials/header-logo.html' %}

<h3 class="about-nav-headline">about:navigation</h3>

<p class="about-nav">
    <a href="#contributing" class="fe-button about-nav__item">Contribute</a><!--
    --><a href="#data" class="fe-button about-nav__item">Data</a><!--
   --> <a href="#website" class="fe-button about-nav__item">Website</a><!--
    --><a href="#contact" class="fe-button about-nav__item">Contact</a>
</p>

<h1 id="project" class="h1">about: // foss.events</h1>
<div class="h1-divider"></div>

<section id="about-foss-events">
    <p>
        // foss.events connects people via the most comprehensive collection of Free, Libre and/or Open Source Software events happening in Europe and online.
    </p>

    <p>
        <strong>Our vision is to create a <a href="https://github.com/foss-events/website">Free Software/Open Source community calendar</a></strong>, with <a href="https://www.foss.events">www.foss.events</a> as an instance that is run by the community and for the community, a calendar that everyone can use, study, share and improve.
    </p>

    <p>
        Our calendar is <a href="/about.html#data">data-driven</a> and value-driven to help people finding events of their specific interests and favorites. Everyone can help with adding events or individual data on // foss.events. You can run your own version or find our values in <a href="/about.html#diversity">diversity</a> and our <a href="/about.html#criteria">criteria of selection</a>.
    </p>

    <p>
        In future, we envision // foss.events to not only help people finding their events but to also help people connecting at these events. People who would like to join an event should also be able to find car shares, flat welcomes, talk buddies and more. We believe in the power of connecting the right people at the right time.
    </p>

    <p>
        Our software will always be Open Source/Free Software and shall be built with(in) connection to the fediverse. If you like our ideas, please <a href="/about.html#contributing">contribute</a>. 
    </p>

    <p class="about-four-freedoms">
        <strong>Use, study, share and improve. Together.</strong>
    </p>
</section>



<section id="contributing" class="section">
    <h2 class="h2 h2--left h2--standalone">about:contributing</h2>
    <p>
        If you know of an event that matches our <a href="#criteria">criteria</a> and you do not see it mentioned in our
        <a href="/">list of events</a>, please contribute:</p>

    <h4>Adding new events</h4>

    <p>
        If you are an organiser or you like to see your favorite event on // foss.events and you have 5 minutes of time, it would be of such a great help to this project if you can help us with adding useful information about an event. If you have trouble understanding our data set, check the <a href="#legend">legend</a> for
        explanation.
    </p>

    {% include 'partials/contribute-box.html' %}

    <p>
        Or, if you feel comfortable to send us the information about your event as a pull request, you can also edit the
        tab-separated csv-data file for each year of your event <a
            href="https://github.com/foss-events/website/tree/master/data" class="umami--click--aboutpage-contribgit">in /data/ on GitHub</a>.
    </p>

    <p>Also you are welcome to join <a href="https://matrix.to/#/#foss.events:matrix.org">our Matrix community room</a> and talk / discuss any event there. 
    </p>

    <h4>Updating existing events</h4>

    <p>Often we add events before all details and information is available. If you see data missing or you have any sort of update to an event, please <a href="mailto:contact@foss.events">get in contact</a> and let us know.

    <h3 class="text-center">Thank you so much for your contribution!</h3>

    <div class="heart">♥</div>

    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>
</section>


<section id="data" class="section">
    <h2 class="h2 h2--left h2--standalone">about:data</h2>

    <p class="about-nav">
        <a href="#criteria" class="fe-button about-nav__item">Criteria</a><!--
    --><a href="#legend" class="fe-button about-nav__item">Legend</a><!--
    --><a href="#datalicense" class="fe-button about-nav__item">License</a>
    </p>

    <p>
        All event-data on // foss.events is <strong>collected by hand, or shared with us by the community</strong>. We
        try to regularly re-check the content on the site but in any case <strong>we guarantee neither completeness nor
        correctness of the data</strong> shown. In doubt, please confirm with the information given on the event's own
        website. If you find an inaccuracy on our site, please help to fix it <a
            href="#contributing">by contributing</a>. Find our criteria and legend below to understand our data-set:
    </p>


    <h3 id="criteria">about:criteria</h3>

    <p>
        <strong>One important part of // foss.events is to create and share the most comprehensive collection of Free, Libre and/or Open Source Software events in Europe and online</strong> (<a href="#diversity">read more</a> about what we understand as a FOSS event). That means we only list events that are happening in Europe or online but that are organised by an association or any group of people with their physical representation and cultural activity being in Europe.
    </p>
    
    <p>
        We know that there is also a need for a similar calendar in other parts of the world and we will probably come up with versions that focus on other parts of the world in the future. But we have to focus on Europe as long as we are still developing the software and do not find the time to maintain an international list. And also we want to focus on one continent as we want to connect people beyond their events. 
    </p>

    <p>
        Valid "events" are all kinds of conferences and unconferences, hackmeetings, *-a-thons, camps, festivals,
        exhibitions and other kind of events - as long as they match the following criteria:
    </p>

    <ul>
        <li>
            only events that <strong>happen in Europe</strong> or online but are organised by a group of people / organisation in Europe.
        </li>
        <li>
            only events that are <strong>open for the general public</strong>. Entrance fee is ok, but events shall be
            accessible for everyone to participate and in particular not be restricted to a specific group like the
            members of a specific group, organisation or similar.
        </li>
        <li>
            only <strong>"full-day" events</strong>. As a rule of thumb, that means events that happen at least 6-8 hours or more.
        </li>
    </ul>

    <p>
        If you know about a Free, Libre and/or Open Source Software event in Europe that matches this criteria and is
        not yet in our list, please <a href="#contributing">contribute</a>.
    </p>

  <h3 id="diversity">about:diversity</h3>

    <p>
        There are reasons and arguments why some people prefer FOSS over FLOSS or vice versa, why some refer to Open
        Source and others to Free Software or Libre Software. And who knows, potentially in the next decade even a new
        term will be created ... (We heard sustainable software is an upcoming candidate.)
    </p>

    <p>
        At // foss.events we love this diversity. All these terms have their relevance and they allow us to put slightly
        different emphasis on the same technologies and ideals. Because apart from the actual naming and the details in
        the semantics, all these names technically refer to the same kind of software and sharing culture: Software that
        is published under a license that grants any user the 4 freedoms to use, study, share and improve the software
        without limitations. That is why on // foss.events we will not prefer one name over the other and in case we use
        one, it is representative to all the others.</p>

    <p>
        <strong> Unity in diversity: No matter the name, if your event is about the four freedoms of software your event
            is part of // foss.events!</strong>
    </p>



    <h3 id="legend">about:legend</h3>

    <p>This is our legend to help you understand what kind of date we are looking for / offering:</p>
    <ul>
        <li>
            <strong>Date</strong>, <strong>Name</strong>, <strong>Location</strong> (<em>Venue</em>, <em>City</em>, <em>Country</em>),
            <strong>Links</strong> (to <em>homepage</em>, <em>OpenStreetMap</em>, <em>Code of Conduct</em>, <em>Call for
            Participation</em>), <strong>latitude</strong> and <strong>longitude</strong>, <strong>Hashtag</strong> and
            <strong>Tags</strong>: This data is exactly what the relevant label implies.
        </li>
        <li>
            <strong>Type</strong>: We differentiate between different kinds of events. So far on our list we have:
            <ul>
                <li>
                    <em>Community Event:</em> An event about everything FOSS &amp; organised by/for a community, usually
                    includes booths for free by non-profit organisations. Examples: FOSDEM, Froscon, etc.
                </li>
                <li>
                    <em>Project Event:</em> An event dedicated to a particular project, for example NixOS, OpenSuse etc.
                </li>
                <li>
                    <em>Science Event:</em> An event about something FOSS, run by/for scientists.
                </li>
                <li><em>Business Event:</em> An event organised for/by business, usually includes booths by for-profit
                    organisations for money. Examples: CubeCon, OpenExpo, Linuxplumbet etc.
                </li>
                <li>
                    <em>Policy Event:</em> An event run by/for administrations, policy, politics. Examples: Connected
                    Smart Cities Conference, Digitale Souveränität, etc.
                </li>
                <li>
                    <em>Exhibition:</em> Fair. Sometimes without talks but often mixed with a conference.
                </li>
                <li>
                    <em>Hackmeeting:</em> Meetings to come together and hack without a conference around and without
                    competition like in a hackathon. Examples: GNU Hackers Meeting, Debcamp etc
                </li>
                <li>
                    <em>Hackathon:</em> competitive hack events with winners and awards
                </li>
                <li>
                    <em>Camping:</em> FOSS events outdoors with camping on-site.
                </li>
                <li>
                    <em>Festival:</em> Events that include or are only about a festival-atmosphere and entertainment.
                </li>
                <li>
                    <em>Unconference:</em> FOSS happenings that bring people together in un-organised spontaneous talks
                    and workshops like in unconferences and barcamps.
                </li>
                <li>
                    <em>Global Day:</em> Days to celebrate FOSS around the globe. Examples: IloveFS, Software Freedom
                    Day etc.
                </li>
                <li>
                    <em>Regional Day:</em> Days to celebrate FOSS in a particular region. For example Flisol, Linux
                    Presentation Day etc
                </li>
            </ul>
        </li>
		<li>
            <strong>Their self-Description</strong>: One sentence up to some paragraphs that describe the event; this is
            usually directly copied from the event's website.
        </li>
        <li>
            <strong>Main organiser</strong>: Persons or associations who are mainly organising the event. Can be
            multiple.
        </li>
        <li>
            <strong>Standard participation fee</strong>: Standard participation fee if you buy a standard ticket without
            discount, early bird, support ticket etc.
        </li>
        <li>
            <strong>Technologies in use</strong> (online only): The technologies that are used for online events. For
            example Jitsi, Big Blue Button and Rocket Chat. But also platforms like peertube or youtube.
        </li>
        <li>
            <strong>Interactivity</strong> (online only): The method that is used to let users interact with organisers
            and/or with each other. For example Q&amp;A sessions or breakout rooms.
        </li>
        <li>
            <strong>Technological liberties</strong> (online only): A note if users can access all content and fully
            participate in an online event by using foss software only and the backend is using foss software only as
            well or not. To be developed.
        </li>
        <li>
            <strong>Registration</strong>: Is registration required? Is on-site access possible or do you have to
            purchase or register your access beforehand?
        </li>
        <li>
            <strong># of participants last time</strong>: The estimated number of visitors this event happened the last
            time.
        </li>
        <li>
            <strong>Main language</strong>: The default language of the talks given, not of the visitors. The main
            language is English, for example, in case all talks are in English although the visitors speak mainly
            another (local) language.
        </li>
        <li>
            <strong>First edition held in</strong>: The year when the first edition of the event has happened.
        </li>
        <li>
            <strong>Specialties</strong>: Anything that is special about the event. Individual.
        </li>
    </ul>


    <h3 id="datalicense">about:license</h3>

    <h4>Summary</h4>

    <p>
        <strong>All data on https://foss.events is open data and copyleft</strong>. The databases are licensed under the
        <a href="https://opendatacommons.org/licenses/odbl/">Open Data Commons Open Database License (ODbL)</a>. Any
        individual content of these databases - <em>except any values in the field "Self-description"</em> - is licensed
        under the Creative Commons <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>. (more <a
            href="/data/events_db_license.txt">details</a>)
    </p>

    <p>
        That means that <strong>you are free to copy, distribute, transmit and adapt our data, as long as you credit
        <span style="white-space: nowrap;">"// foss.events"</span> and so its contributors</strong> and link back to our page. If you alter or build software upon our data, you have to re-publish the data from this page as Open Data.
    </p>

    <p>If you use our data, please get in touch we would love to hear about your cool project!</p>


  <h4>Detail</h4>

  <p>
      All data in <a href="https://github.com/foss-events/website/tree/master/data">/data/, especially all files following the name scheme *_events_db.csv</a> is made available under the Open Database License: <a href="http://opendatacommons.org/licenses/odbl/1.0/">http://opendatacommons.org/licenses/odbl/1.0/</a>. Any rights in individual contents of these databases - except any values in the field "Self-description" - are licensed under the Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA): <a href="https://creativecommons.org/licenses/by-sa/4.0/">https://creativecommons.org/licenses/by-sa/4.0/</a>
  </p>

  <p>
      If you reuse our data, you have to state that this data is from // foss.events and link back to its source - its respective page on https://www.foss.events.
  </p>
  
  <p>
      Content in the field "Self-description" is usually copied and pasted from the organiser's or event's webpage. All rights to this material remain with the original authors.
  </p>
  <p>
      All rights and trademarks on logos and pictures reused on https://foss.events/ to be shown on the page, remain with the respective rightholders.
  </p>

    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>
</section>



<section id="website" class="section">
    <h2 class="h2 h2--left h2--standalone">about:website</h2>

    <p class="about-nav">
        <a href="#freedom" class="fe-button about-nav__item">Freedom</a>
        <a href="#privacy" class="fe-button about-nav__item">Privacy</a>
		<a href="#sustainability" class="fe-button about-nav__item">Sustainability</a>
		<a href="#diversity" class="fe-button about-nav__item">Diversity</a>
    </p>



    <p>
        What started as a simple list, written in an Etherpad and shared in the Fediverse has grown into a
        database-driven web-project for and by the FOSS community to help connecting people via their own community events. If you are interested to help us, <a href="mailto:contact@foss.events">get in contact</a>. Also drop by once in a while to enjoy the latest features : )
    </p>


    <h3 id="freedom">about:freedom</h3>

    <p>
        We believe in the 4 freedoms to <strong>use, study, share and improve any software</strong>. <a href="https://github.com/foss-events/website">Our code</a> is handmade and published as FOSS under <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>. All data is <a href="/about.html#datalicense">published
        as open data</a>, all text is published <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA
        4.0</a>.
    </p>


    <h3 id="privacy">about:privacy</h3>

    <p>
        // foss.events does not track you. We do not collect any data or behaviour on our sites. The Electronic
        Frontiers Foundation's <a href="https://www.eff.org/privacybadger">Privacy Badger</a> gives us a Hooray for
        Privacy:
    </p>

    <div class="text-center">
        <img src="/img/2020-eff-privacy-badger-400.jpg"
             alt="Electronic Frontier Foundation's Privadcy Badger says: No trackers detected: Hooray for Privacy">
    </div>

    <p>
        // foss.events supports <a href="https://degooglisons-internet.org/en/">de-Googlization</a>. Our website is
        self-coded [<a href="#freedom">&uarr;</a>] and we do not use Google for anything! <a
            href="https://kreuzberg.google.tracking.exposed/">Google tracking exposed</a> confirms: No analysis, no
        trackers, no ads.
    </p>

    <div class="text-center">
        <img src="/img/2020-trex-google-free-400.jpg"
             class="img img--center"
             alt="kreuzberg.google.tracking.exposed says: This site is free from Google trackers!">
    </div>


    <h3 id="sustainability">about:sustainability</h3>

    <p>// foss.events is hosted using Green Energy:</p>
    <a href="https://www.thegreenwebfoundation.org/green-web-check/?url=foss.events"
       class="img-link-center"> <img
            src="https://api.thegreenwebfoundation.org/greencheckimage/foss.events"
            alt="This website is hosted Green - checked by thegreenwebfoundation.org"></a>

    <p>// foss.events is continuously optimised to reduce CO2 emissions:</p>
    <div id="wcb" class="carbonbadge"></div>


    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>
</section>





<section id="contact" class="section">
    <h2 class="h2 h2--left h2--standalone">about:contact</h2>

    <p>
        Whenever you feel like giving us your feedback, you have a good idea or you want to give us a digital hug, you
        can simply send us an <a href="mailto:contact@foss.events">email</a>. Also consider following us on <a
            rel="me"
            href="https://fosstodon.org/@foss_events">Mastodon</a> to enjoy our toots around the latest news from foss-events in Europe.
    </p>


    <h3 id="people">about:people</h3>

    <p>
        // foss.events is a project for and by FOSS enthusiasts and everyone who seeks living in a Free Society.
        Currently it is run by some friendly Free Software geeks who simply feel like doing what we feel to be good. You
        can join if you like. If you are looking for direct contact, reach out to <a href="https://chaos.social/@dreirik">Erik Albers</a> (concept) or <a href="https://github.com/weeman1337">Michael Weimann</a> (technical lead)<a rel="me" href="https://fosstodon.org/@foss_events">.</a>
    </p>

    <p>
        The domain foss.events was initially registered and run by <a href="https://openrheinruhr.de/">OpenRheinRuhr
        e.V.</a> and later generously shared with // foss.events. Thank you so much for this priceless contribution!
    </p>

    <a class="nav-to-top" href="about.html#top">Navigation [&uarr;]</a>
</section>

<p><a href="/img/imprint.png">Imprint</a></p>

{% include 'partials/footer.html' %}

</body>

</html>
