<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>News-blog on // foss.events, the most comprehensive collection of FOSS events in Europe</title>

    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</head>

<body>
    {% include 'partials/header-logo.html' %}

    <p>
        List of foss.events news.
    </p>

    <div>
        {% for post in posts %}
        <div class="blog-item">
            <h1 class="blog-item__title">{{ post.title }}</h1>
            <div class="blog-item__date">{{ post.date }}</div>
            <div class="blog-item__summary">
                {{ post.summary }}
            </div>
            <a class="blog-item__link" href="{{ post.link }}">
                → read more
            </a>
        </div>
        {% endfor %}
    </div>

    {% include 'partials/footer.html' %}
</body>
</html>
