<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="A collection of FOSS events in Europe"/>
    <meta name="keywords"
          content="Free Software,FOSS,FLOSS,Software Libre, Open Source,Events,Camp,Conference,Collection,List,2019,2020"/>

    <!-- Open Graph meta-data (e.g. Facebook) -->
    <meta property="og:title" content="// foss.events"/>
    <meta property="og:url" content="https://foss.events/"/>
    <meta property="og:image" content="https://foss.events/img/logo.png"/>
    <meta property="og:description" content="A collection of FOSS events in Europe"/>
    <meta property="og:locale" content="en"/>

    <!-- Twitter meta-data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@FOSS_events"/>
    <meta name="twitter:title" content="// foss.events"/>
    <meta name="twitter:description" content="A collection of FOSS events in Europe"/>
    <meta name="twitter:image" content="https://foss.events/img/logo.png"/>
    <meta name="twitter:creator" content="@FOSS_events"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/leaflet.css">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>// foss.events in Europe</title>
</head>

<body>

<div class="menu menu--spacing-bottom">
    <hr class="menu__divider">
    <a
            class="menu__link"
            href="/">
        <h1>
            <img class="menu__logo" src="img/logo.png" alt="// foss.events">
            FOSS events in Europe
            <img class="menu__logo" src="img/logo.png" alt="// foss.events">
        </h1>
    </a>
    <hr class="menu__divider">
</div>

<h2 class="event-title">{{ event['label'] }}</h2>

{% if event['type'] %}
    <div class="event-type">{{ event['type'] }}</div>
{% endif %}

<div class="event-date">
    {{ event['start_day'] }}<!--
        -->{% if event['start_day'] != event['end_day'] %}-{{ event['end_day'] }}{% endif %}
    {{ event['start_month_string'] }} {{ event['start_year'] }}
</div>

<div class="event-location">
    {{ event['venue'] }}<!--
    -->{% if event['venue'] and event['city'] %},{% endif %}
    {{ event['city'] }}<!--
    -->{% if (event['venue'] or event['city']) and event['country'] %},{% endif %}
    {{ event['country'] }}
    {% if event['osm_link'] %}
        <a class="event-location__link" href="{{ event['osm_link'] }}" target="_blank">OSM</a>
        {% if event['geo'] %}/{% endif %}
    {% endif %}
    {% if event['geo'] %}
        <a class="event-location__link" href="{{ event['geo'] }}">
            geo
        </a>
    {% endif %}
</div>

<div id="map" class="event-map"></div>

<table class="event-table">
    {% if event['homepage'] %}
        <tr>
            <th class="event-table__label">Website</th>
            <td class="event-table__content">
                <a href="{{ event['homepage'] }}">
                    {{ event['homepage'] }}
                </a>
            </td>
        </tr>
    {% endif %}
    {% if event['reg'] %}
        <tr>
            <th class="event-table__label">Registration</th>
            <td class="event-table__content">
                Required.
                {% if event['reg_link'] %}
                    Find more info <a href="{{ event['reg_link'] }}" target="_blank">here</a>.
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if event['fee'] %}
        <tr>
            <th class="event-table__label">Standard participation fee</th>
            <td class="event-table__content">{{ event['fee'] }}</td>
        </tr>
    {% endif %}
    {% if event['description'] %}
        <tr>
            <th class="event-table__label">Their self-description</th>
            <td class="event-table__content">{{ event['description'] }}</td>
        </tr>
    {% endif %}
    <tr>
        <th class="event-table__label">Participants last time</th>
        <td class="event-table__content">
            {{ event['participants'] }}
        </td>
    </tr>
    {% if event['cfp_link'] %}
        <tr>
            <th class="event-table__label">CfP</th>
            <td class="event-table__content">
                Take part in the <a href="{{ event['cfp_link'] }}">Call for Participation</a>.
                {% if event['cfp_date'] %}
                    <div class="event-cfp__deadline">
                        Deadline: {{  event['cfp_date'].strftime('%d.%m.%Y') }}
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if event['coc_link'] %}
        <tr>
            <th class="event-table__label">Code of Conduct</th>
            <td class="event-table__content">
                <a href="{{ event['coc_link'] }}" target="_blank">Link</a>
            </td>
        </tr>
    {% endif %}
</table>

<div class="contribute-box">
    <h3>missing info?</h3>
    <h3>info out of date?</h3>
    <h3>please <a href="/#contribute">contribute</a></h3>
</div>

{% include 'partials/footer.html' %}

{% if event['lat'] and event['lon'] %}
<script>
    window.fe = {
        event: {
            lat: {{ event['lat'] }},
            lon: {{ event['lon'] }},
            zoom: {{ event['zoom'] }}
        }
    };
</script>
{% endif %}
<script src="/js/leaflet.js"></script>
<script src="/js/event.js"></script>
</body>

</html>
