<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="All about {{ event['label'] }} {{ event['start_year'] }} in {{ event['readable_location'] }} in a nutshell on // foss.events" />
    <meta name="keywords" content="{{ event['keywords_string'] }}"/>

    <!-- Open Graph meta-data (e.g. Facebook) -->
    <meta property="og:title" content="// foss.events"/>
    <meta property="og:url" content="https://foss.events/"/>
    <meta property="og:image" content="https://foss.events/img/logo.png"/>
    <meta property="og:description" content="A collection of FOSS events in Europe"/>
    <meta property="og:locale" content="en"/>

    <!-- Twitter meta-data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@FOSS_events"/>
    <meta name="twitter:title" content="// foss.events"/>
    <meta name="twitter:description" content="A collection of FOSS events in Europe"/>
    <meta name="twitter:image" content="https://foss.events/img/logo.png"/>
    <meta name="twitter:creator" content="@FOSS_events"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/leaflet.css">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>{{ event['label'] }} {{ event['start_year'] }} in a nutshell on // foss.events</title>
</head>

<body>

{% include 'partials/header-logo.html' %}

<h2 class="event-title">{{ event['label'] }}</h2>

<div class="event-date">
    {{ event['start_day'] }}<!--
        -->{% if event['start_day'] != event['end_day'] %}-{{ event['end_day'] }}{% endif %}
    {{ event['start_month_string'] }} {{ event['start_year'] }}
    <a
            class="event-date__link"
            href="{{ event['ical_path'] }}">
        add to your calendar
    </a>
</div>

<div class="event-location">
    {{ event['readable_location'] }}
    {% if event['osm_link'] %}
        <a class="event-location__link" href="{{ event['osm_link'] }}" target="_blank">OSM</a>
        {% if event['geo'] %}/{% endif %}
    {% endif %}
    {% if event['geo'] %}
        <a class="event-location__link" href="{{ event['geo'] }}">
            geo
        </a>
    {% endif %}
</div>

<div id="map" class="event-map"></div>

<div class="event-props">
    {% if event['homepage'] %}
        <div class="event-props__group">
            <div class="event-props__label">Website</div>
            <div class="event-props__content">
                <a href="{{ event['homepage'] }}">
                    {{ event['homepage'] }}
                </a>
            </div>
        </div>
    {% endif %}
    <div class="event-props__group">
        <div class="event-props__label">Type</div>
        <div class="event-props__content">
            {{ event['type'] }}
        </div>
    </div>
    <div class="event-props__group">
        <div class="event-props__label">Main language</div>
        <div class="event-props__content">
            {{ event['main_language'] }}
        </div>
    </div>
    <div class="event-props__group">
        <div class="event-props__label">Registration required?</div>
        <div class="event-props__content">
        {{ event['registration'] | url_mixed }}
        </div>
    </div>
    {% if event['fee'] %}
        <div class="event-props__group">
            <div class="event-props__label">Standard participation fee</div>
            <div class="event-props__content">{{ event['fee'] }}</div>
        </div>
    {% endif %}
    {% if event['description'] %}
        <div class="event-props__group">
            <div class="event-props__label">Their self-description</div>
            <div class="event-props__content">{{ event['description'] }}</div>
        </div>
    {% endif %}
    <div class="event-props__group">
        <div class="event-props__label">Participants last time</div>
        <div class="event-props__content">
            {{ event['participants'] }}
        </div>
    </div>
    {% if event['cfp_link'] %}
        <div class="event-props__group">
            <div class="event-props__label">Call for Participation</div>
            <div class="event-props__content">
                {% if event['cfp_passed'] %}
                    The deadline for this CfP passed on {{ event['cfp_date'].strftime('%d.%m.%Y') }}.
                {% else %}
                    {{ event['cfp_link'] }}
                    {% if event['cfp_date'] %}
                        Deadline: {{ event['cfp_date'].strftime('%d.%m.%Y') }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if event['coc_link'] %}
        <div class="event-props__group">
            <div class="event-props__label">Code of Conduct</div>
            <div class="event-props__content">
                <a href="{{ event['coc_link'] }}" target="_blank">Read</a>
            </div>
        </div>
    {% endif %}
</div>

<div class="contribute-box">
    <div class="contribute-box__content">
        <h3>info missing?</h3>
        <h3>info out of date?</h3>
        <h3>please <a href="/about.html#contributing">contribute</a></h3>
    </div>
</div>

{% include 'partials/footer.html' %}

{% if event['lat'] and event['lon'] %}
    <script>
        window.fe = {
            event: {
                lat: {{ event['lat'] }},
                lon: {{ event['lon'] }}
            }
        };
    </script>
{% endif %}
<script src="/js/leaflet.js"></script>
<script src="/js/event.js"></script>
</body>

</html>
