<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="A collection of FOSS events in Europe"/>
    <meta name="keywords"
          content="Free Software,FOSS,FLOSS,Software Libre, Open Source,Events,Camp,Conference,Collection,List,2019,2020"/>

    <!-- Open Graph meta-data (e.g. Facebook) -->
    <meta property="og:title" content="// foss.events"/>
    <meta property="og:url" content="https://foss.events/"/>
    <meta property="og:image" content="https://foss.events/img/logo.png"/>
    <meta property="og:description" content="A collection of FOSS events in Europe"/>
    <meta property="og:locale" content="en"/>

    <!-- Twitter meta-data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@FOSS_events"/>
    <meta name="twitter:title" content="// foss.events"/>
    <meta name="twitter:description" content="A collection of FOSS events in Europe"/>
    <meta name="twitter:image" content="https://foss.events/img/logo.png"/>
    <meta name="twitter:creator" content="@FOSS_events"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/leaflet.css">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>// foss.events in Europe</title>
</head>

<body>

<div class="menu">
    <hr class="menu__divider">
    <h1>
        <img class="menu__logo" src="img/logo.png" alt="// foss.events">
        FOSS events in Europe
        <img class="menu__logo" src="img/logo.png" alt="// foss.events">
    </h1>
    <hr class="menu__divider">
</div>

<p class="navlinks">
    <a href="/2019" class="navlinks__link navlinks__link--inactive">2019</a> |
    <a href="/" class="navlinks__link navlinks__link--inactive">2020</a>
</p>

<div>
    {{ event['start_day'] }}<!--
        -->{% if event['start_day'] != event['end_day'] %}-{{ event['end_day'] }}{% endif %}
    {{ event['start_month_string'] }} {{ event['start_year'] }}
</div>
<h2>{{ event['label'] }}</h2>
<div>
    {% if event['osm_link'] %}
        <a href="{{ event['osm_link'] }}" target="_blank">
            {{ event['city'] }}, {{ event['country'] }}
        </a>
    {% else %}
        {{ event['city'] }}, {{ event['country'] }}
    {% endif %}
</div>

<div id="map" class="map"></div>

{% if event['homepage'] %}
    Visit their website
    <a href="{{ event['homepage'] }}">
        {{ event['homepage'] }}
    </a>
{% endif %}

<div>
    {{ event['description'] }}
</div>

<div>
    {{ event['type'] }}
</div>

<script src="/js/leaflet.js"></script>
<script src="/js/event.js"></script>
</body>

</html>
