<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="A collection of FLOSS events in Europe 2019"/>
    <meta name="keywords"
          content="Free Software,FOSS,FLOSS,Software Libre, Open Source,Events,Camp,Conference,Collection,List,2019"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="styles/flossevents.css">

    <title>FLOSS Events in Europe</title>
</head>

<body>

<div class="menu" style="padding:2em;">
    <hr size="3" color="black">
    <h1>
        <img class="menu__logo" src="img/logo.png">
        FLOSS Events in Europe in {{ year }}
        <img class="menu__logo" src="img/logo.png">
    </h1>
    <hr>
</div>

<p style="text-align:center; font-size:1.5em;">
    ... and in <a href="{{ other_year_link }}">{{ other_year }}</a>
</p>

<p>
    This page is <a href="#about">about</a> connecting people beyond borders and nations who understand the benefits of
    sharing knowledge and to collectively use, study, share and improve it for everyone.
</p>

<p>
    You find a list of Free, Libre and/or Open Source Software (related) events happening in Europe in {{ year }} below,
    chronologically sorted into <a href="#upcoming">upcoming</a> and <a href="#passed">passed</a>. If you know about an
    event that is not yet listed here and it matches the <a href="#criteria">criteria</a>, please <a href="#contribute">contribute</a>.
</p>

<p>
    This page is work in <a href="#progress">progress</a>.
    Any questions? Get in <a href="mailto:contact@foss.events">contact</a>.
</p>

<div id="upcoming" class="topheading">
    <h1 style="padding-top:2em;">Upcoming events</h1>
</div>

<div style="padding: 0 40% 0 40%">
    <hr>
</div>

{% for month_id, month in upcoming.items() %}
    {% if month['events'] %}
        <h2 class="month" id="{{ month["label"] }}">
            {{ month['label'] }}
        </h2>
        <table class="month">
            {% for event in month['events'] %}
            {% include 'partials/event-list-item.html' %}
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}

<div class="eyecatcher">
    <h3>missing an event?</h3>
    <h3>info out of date?</h3>
    <h3>please <a href="#contribute">contribute</a></h3>
</div>

{% if prev %}
    <div id="passed" class="topheading">
        <h1 style="padding-top:2em;">Events passed</h1>
    </div>
    <div style="padding: 0 40% 0 40%">
        <hr>
    </div>

    {% for month_id, month in prev.items() %}
        {% if month['events'] %}
            <h2 class="month" id="{{ month["label"] }}">
                {{ month['label'] }}
            </h2>
            <table class="month">
                {% for event in month['events'] %}
                {% include 'partials/event-list-item.html' %}
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="topheading">
    <h1 id="about" style="padding-top:3em;">About</h1>
</div>

<div style="padding: 0 40% 3em 40%">
    <hr>
</div>


<div class="bgimp">

    <p>Planet Earth in its late 2010s: Europeans are facing an uprise of right-wing movements in most parts of the
        continent. New forms of political oppression and restrictions of freedom are put into practice, creating new
        deportation procedures, excessive police laws and border controls, new walls and entry bans. One can only
        speculate how the overall situation will develop in the next decade or the one after, how borders outside and
        within Europe will be re-established and potentially closed down ... But one can be sure that when crossing
        borders will become a privilege again, inter-European families, networks and communities will get dispersed.</p>

    <p>To grow and live (in) a free society we need freedom of exchange. We need human cooperation as a breeding ground
        for creativity and inspiration as well as a fundament to safeguard our peace and mutual understanding. Freedom
        of people - just as freedom of code - is fundamental to Free, Libre and Open Source Software and their
        communities and a requirement to collectively construct our commons. </p>


</div>

<p>This project shall help growing a free society. As long as inner-European borders can still be crossed and
    international events are possible, this page is here to encourage you to get to know and network with each other.
    Create international organisations, form resilient communities and build friendships with each other across borders.
    Go to a FLOSS event in another country this year, an event where you have never been before. Get to know new people
    there, their habits, knowledge and backgrounds. Help each other and listen to each other. And above all do what you
    always love to do: </p>

<p style="text-align:center"><strong>Use, study, share and improve. Together.</strong></p>


<div style="clear: both; padding-top:2em;"></div>

<div class="stickercontainer" style="width: 40%; float:left">
    <h3>No borders. No nations.</h3>
    <h3>Just humans.</h3>
    <h3>And tech.</h3>
</div>

<div class="stickercontainer" style="margin-left: 55%">
    <h3>No DRM. No firewalls.</h3>
    <h3>Just freedom.</h3>
    <h3>And humans.</h3>
</div>


<div style="clear: both;"></div>

<p style="text-align: right; padding-top:2em;"><a href="#top">Navigation [&uarr;]</a></p>


<h2 class="navhead" id="contribute">Contribute</h2>

<p>If you know of an event that matches our criteria [<a href="#criteria">&darr;</a>] and you do not see it already
    listed in our list of events [<a href="#listofevents">&uarr;</a>], please contribute by <a
            href="mailto:onemore@foss.events?subject=one more event">sending a contribution via mail</a>. Simply
    copy-paste your event into the body section of your mail and it will appear here or be updated.</p>

<h3 style="text-align:center">Thank you so much for your contribution!</h3>

<h1 style="text-align:center"><3</h1>

<p style="text-align: right;"><a href="#top">Navigation [&uarr;]</a></p>


<h2 class="navhead" id="criteria">Criteria</h2>

<p>This page is all about collecting a list of FLOSS community events. Community can be companies, researchers,
    users, developers etc who spread, develop, use or share software, published under a FLOSS license. Events can be
    fairies, conferences, *-a-thons, camps and other kind of events as long as they match the following
    criteria:</p>

<ul>
    <li>only events that happen in Europe.</li>
    <li>only events that are open for the general public. Entrance fee is ok, but events shall be accessible for
        everyone to participate and in particular not restricted to a specific group like the members of a specific
        group, organisation or similar.
    </li>
    <li>only "full-day" events. As a rule of thumb, that means events that are at least 6-8 hours or more.</li>
</ul>


<p>So if you know about a community-driven Free, Libre and/or Open Source Software event in Europe that matches this
    criteria and is happening in {{ year }}, please contribute : ) [<a href="#contribute">&uarr;</a>]</p>

<p style="text-align: right;"><a href="#top">Navigation [&uarr;]</a></p>


<h2 class="navhead" id="progress">Work in progress</h2>

<p>This page is work in progress. It is build from scratch and shall become a database-driven web-project for and by
    the FLOSS community to help connecing people. If you are interested in sharing knowlege or improving something
    <a href="mailto:contact@foss.events">get in contact</a>.</p>

<p style="text-align: right;"><a href="#top">Navigation [&uarr;]</a></p>

</body>

</html>
