<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="A collection of FOSS events in Europe"/>
    <meta name="keywords"
          content="Free Software,FOSS,FLOSS,Software Libre, Open Source,Events,Camp,Conference,Collection,List,2019,2020,Europe,Unity,Diversity"/>

    <!-- Open Graph meta-data (e.g. Facebook) -->
    <meta property="og:title" content="// foss.events"/>
    <meta property="og:url" content="https://foss.events/"/>
    <meta property="og:image" content="https://foss.events/img/logo.png"/>
    <meta property="og:description" content="A collection of FOSS events in Europe"/>
    <meta property="og:locale" content="en"/>

    <!-- Twitter meta-data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@FOSS_events"/>
    <meta name="twitter:title" content="// foss.events"/>
    <meta name="twitter:description" content="A collection of FOSS events in Europe"/>
    <meta name="twitter:image" content="https://foss.events/img/logo.png"/>
    <meta name="twitter:creator" content="@FOSS_events"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>// foss.events in Europe</title>
</head>

<body>

<div id="top"></div>

{% include 'partials/header-logo.html' %}

<p>
    This page is <a href="/about.html">about</a> connecting people beyond borders
    and nations who understand the benefits of sharing knowledge and to
    collectively use, study, share and improve it for everyone.
</p>

<p>
    You find a list of Free, Libre and/or Open Source Software (related)
    events happening in Europe in {{ year }}
    below, chronologically sorted into <a href="#fossevents">upcoming</a>
    and <a href="#passed">passed</a>.
    <a href="/about.html#diversity">Unity in diversity!</a>
</p>

{% if has_upcoming %}

	<h1 id="fossevents" class="topheading">FOSS events in Europe</h1>
	<div style="padding: 0 40% 0 40%">
        <hr>
    </div>

    <h2 id="upcoming" style="text-align:center; margin-bottom: 2em;">
        Upcoming in {{ year }}
    </h2>

    {% for month_id, month in upcoming.items() %}
        {% if month['events'] %}
            <h2 class="month" id="{{ month["label"] }}">
                {{ month['label'] }}
            </h2>
            <table class="month">
                {% for event in month['events'] %}
                    {% include 'partials/event-list-item.html' %}
                {% endfor %}
            </table>
        {% endif %}

        {% if month['events'] and month_id == '03' %}
            {% include 'partials/contribute-box.html' %}
        {% endif %}
    {% endfor %}

    {% if not upcoming['03']['events'] %}
        {% include 'partials/contribute-box.html' %}
    {% endif %}

{% endif %}

<p>
    If you know about an event that is not yet listed here and it
    matches the <a href="/about.html#criteria">criteria</a>,
    please <a href="/about.html#contribute">contribute</a>.
    For any questions get in <a href="/about.html#contact">contact</a>.
</p>

{% if has_prev %}
    <h2 id="passed" class="topheading">
        Past events in {{ year }}
    </h2>
    <div style="padding: 0 40% 0 40%">
        <hr>
    </div>

    {% for month_id, month in prev.items() %}
        {% if month['events'] %}
            <h2 class="month" id="{{ month["label"] }}">
                {{ month['label'] }}
            </h2>
            <table class="month">
                {% for event in month['events'] %}
                    {% include 'partials/event-list-item.html' %}
                {% endfor %}
            </table>
        {% endif %}

        {% if month['events'] and month_id == '03' and not has_upcoming %}
            {% include 'partials/contribute-box.html' %}
        {% endif %}
    {% endfor %}

    {% if not prev['03']['events'] and not has_upcoming %}
        {% include 'partials/contribute-box.html' %}
    {% endif %}
{% endif %}


	<h1 id="archive" class="topheading">
        Archive
    </h1>
    <div style="padding: 0 40% 0 40%">
        <hr>
    </div>

<p>See the list of Free, Libre and/or Open Source Software (related) events happening in Europe in ...</p>

<p style="font-size:200%">
   
  <a href="/2019"><strong>2019</strong></a>
        
</p>

<div class="footer">
    Made with <span class="footer__heart">♥</span> | <a href="/about.html">about</a> | <a href="/about.html#contact">contact</a>
</div>

</body>

</html>
