<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/about.html">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="A collection of FOSS events in Europe"/>
    <meta name="keywords"
          content="Free Software,FOSS,FLOSS,Software Libre, Open Source,Events,Camp,Conferences,Collection,Europe,Unity,Diversity,about,contact,contribute,sustainability,criteria"/>

    <!-- Open Graph meta-data (e.g. Facebook) -->
    <meta property="og:title" content="// foss.events"/>
    <meta property="og:url" content="https://foss.events/about"/>
    <meta property="og:image" content="https://foss.events/img/logo.png"/>
    <meta property="og:description" content="More about // foss.events, a collection of FOSS events in Europe"/>
    <meta property="og:locale" content="en"/>

    <!-- Twitter meta-data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@FOSS_events"/>
    <meta name="twitter:title" content="// foss.events"/>
    <meta name="twitter:description" content="More about // foss.events, a collection of FOSS events in Europe"/>
    <meta name="twitter:image" content="https://foss.events/img/logo.png"/>
    <meta name="twitter:creator" content="@FOSS_events"/>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>// foss.events in Europe</title>
</head>

<body>

<div id="top"></div>

{% include 'partials/header-logo.html' %}

<h2>A page about publicity</h2>

<p>Insert beautiful posters and stickers below this line</p>


<p><a href="/img/imprint.png">Imprint</a></p>

{% include 'partials/footer.html' %}

</body>

</html>
