<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>blog on // foss.events</title>

    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</head>

<body>
    {% include 'partials/header-logo.html' %}

    <div>
        {% for toot in toots %}
        <h2>{{ toot.label }}</h2>
        <div class="toot">
            <pre><code>New on // foss.events: {{ toot.label }} {% if toot.main_organiser %}by {{ toot.main_organiser }}{% endif %} on {{ toot.printable_date }} {% if toot.printable_short_location %}in {{ toot.printable_short_location }}{% endif %}

{{ toot.url }}
{% if toot.cfp %}
Call for participation is running until {{ toot.cfp }}
{% endif %}{% if toot.hashtags %}
{{ toot.hashtags }} {% endif %}
{% if toot.mastodon %}
{{ toot.mastodon }} {% endif %}</code></pre>

            <pre><code>Just one Week left to apply for a talk at {{ toot.label }} {% if toot.main_organiser %}by {{ toot.main_organiser }}{% endif %} on {{ toot.printable_date }} {% if toot.printable_short_location %}in {{ toot.printable_short_location }}{% endif %}

{{ toot.url }}
{% if toot.hashtags %}
{{ toot.hashtags }} {% endif %}</code></pre>
            <pre><code>Wishing everyone a great time at {{ toot.label }} {% if toot.main_organiser %}by {{ toot.main_organiser }}{% endif %}{% if toot.printable_short_location %} starting today in {{ toot.printable_short_location }}{% endif %}

{{ toot.url }}
{% if toot.hashtags %}
{{ toot.hashtags }} {% endif %}</code></pre>
        </div>
        {% endfor %}
    </div>

    {% include 'partials/footer.html' %}
</body>
</html>
