<tr class="event {{ event['classes'] }}">
    <td>
        {{ event['start_day'] }}<!--
        -->{% if event['start_day'] != event['end_day'] %}-{{ event['end_day'] }}{% endif %}
    </td>
    <td>
        <a href="{{ event['details_url'] }}">
            {{ event['label'] }}
        </a>
        {% if event['city'] or event['country'] %}
            in
            {% if event['city'] %}
                {{ event['city'] }}<!--
                -->{% endif %}<!--
                -->{% if event['city'] and event['country'] %},{% endif %}
            {% if event['country'] %}
                {{ event['country'] }}
            {% endif %}
        {% endif %}
        {% if event['cfp_link'] and not event['cfp_passed'] and event['upcoming'] %}
            <p class="eventcfp">
                {% if event['cfp_raw_link'] %}
                    Take part in the <a href="{{ event['cfp_raw_link'] }}">Call for Participation</a>.
                {% else %}
                    Take part in the Call for Participation (<a href="{{ event['details_url'] }}">see details</a>).
                {% endif %}

                {% if event['cfp_date'] %}
                    Deadline: {{  event['cfp_date'].strftime('%d.%m.%Y') }}
                {% endif %}
            </p>
        {% endif %}
    </td>
</tr>
