<head>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="// foss.events connect people via the most comprehensive collection of FOSS events in Europe (and online)"/>
    <meta name="keywords"
          content="Free Software,FOSS,FLOSS,Free,Libre,Open Source,Software,Events,Camp,Conference,Collection,List,2019,2020,Europe,Unity,Diversity,online,workshop"/>

    <!-- Open Graph meta-data (e.g. Facebook) -->
    <meta property="og:title" content="// foss.events"/>
    <meta property="og:url" content="https://foss.events/"/>
    <meta property="og:image" content="https://foss.events/img/logo.png"/>
    <meta property="og:description" content="// foss.events - the most comprehensive collection of FOSS events in Europe (and online)"/>
    <meta property="og:locale" content="en"/>

    <!-- Twitter meta-data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@FOSS_events"/>
    <meta name="twitter:title" content="// foss.events"/>
    <meta name="twitter:description" content="// foss.events - the most comprehensive collection of FOSS events in Europe (and online)"/>
    <meta name="twitter:image" content="https://foss.events/img/logo.png"/>
    <meta name="twitter:creator" content="@FOSS_events"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/fossevents.css">

    <title>// foss.events: The most comprehensive collection of FOSS events in Europe and online</title>

    <script async defer data-website-id="393f9149-34ad-4d2f-a2f3-9d3760baceec" src="https://traffic.foss.events/umami.js"></script> 
    
</head>
