<div class="menu">
    <a class="menu__link umami--click--head-logo" href="/">
        <div
            class="menu-icons__icon menu-icons__icon--fossevents"
            href="/">
        </div>
        <h1 class="menu__hl">// foss.events</h1>
    </a>
    <div class="menu-icons">
        <!-- <a -->
        <!--         class="menu-icons__icon menu-icons__icon--blog umami--click--head-blog" -->
        <!--         href="/blog.html" -->
        <!--         title="news blog"></a> -->
        <a
                class="menu-icons__icon menu-icons__icon--mastodon umami--click--head-mastodon"
                href="https://fosstodon.org/@foss_events"
                title="follow foss.events on Mastodon"></a>
        <a
                class="menu-icons__icon menu-icons__icon--matrix umami--click--head-matrix"
                href="https://matrix.to/#/#foss.events:matrix.org"
                title="chat on Matrix"></a>
        <a
                class="menu-icons__icon menu-icons__icon--github umami--click--head-github"
                href="https://github.com/foss-events/website"
                title="source on GitHub"></a>
        <a
                class="menu-icons__icon menu-icons__icon--info umami--click--head-about"
                title="about"
                href="/about.html"></a>
        <a
                class="menu-icons__icon menu-icons__icon--toggle umami--click--head-dark"
                title="toggle"
                id="themetoggle"></a>

    </div>
</div>
<hr class="menu__divider">

                <script>
                  (()=>{
               
                  var element = document.body;
                  const feTheme=localStorage.getItem("feTheme")
                  if (["fe-light","fe-dark"].includes(feTheme)){
                    element.classList.add(feTheme)
                  }
                  
                const myFunction = () => {

                const storedTheme = localStorage.getItem("feTheme")
                
                const isDarkMode=storedTheme==="fe-dark"||((!storedTheme && window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches))
                  
                 if (isDarkMode) {
                    localStorage.setItem("feTheme","fe-light")
                    element.classList.add("fe-light")
                    element.classList.remove("fe-dark")
                  }
                 else {
                    localStorage.setItem("feTheme","fe-dark")
                    element.classList.add("fe-dark")
                    element.classList.remove("fe-light")
                  }

                }
                document.getElementById("themetoggle").addEventListener("click",myFunction)
                   })()
                </script>
