<div class="menu menu--spacing-bottom">
    <a
            class="menu__link"
            href="/">
        <h1 class="menu__hl">
            // foss.events
        </h1>
    </a>
    <hr class="menu__divider">
    <div class="menu-icons">
        <a
                class="menu-icons__icon menu-icons__icon--mastodon"
                href="https://mastodon.social/@FOSS_events"
                target="_blank"></a>
        <a
                class="menu-icons__icon menu-icons__icon--twitter"
                href="https://twitter.com/FOSS_events"
                target="_blank"></a>
        <a
                class="menu-icons__icon menu-icons__icon--fossevents"
                href="/"></a>
        <a
                class="menu-icons__icon menu-icons__icon--github"
                href="https://github.com/foss-events/website"
                target="_blank"></a>
        <a
                class="menu-icons__icon menu-icons__icon--info"
                href="/about.html"></a>
    </div>
</div>
