<div class="menu menu--spacing-bottom">
    <hr class="menu__divider">
    <a
            class="menu__link"
            href="/">
        <h1 class="menu__hl">
            <div class="menu__logo-container">
                <img class="menu__logo" src="/img/logo.png" alt="// foss.events">
            </div>
            FOSS events in Europe
            <div class="menu__logo-container menu__logo-container--second">
                <img class="menu__logo" src="/img/logo.png" alt="// foss.events">
            </div>
        </h1>
    </a>
    <hr class="menu__divider">
</div>
