<div id="about" class="container">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="mb-5">
                <h2 class="fe-hl">About</h2>

                <p>
                    Planet Earth in its late 2010s:
                    Europeans are facing a rising of right-wing driven movements in most parts of the continent.
                    New waves of political paternalism and restrictions of freedom are spread and
                    extending from the inside. Putting on paper new deportation procedures,
                    police laws, border controls, walls and entry bans.
                    One can only speculate how the overall situation will develop
                    in the next decade or the one after, how borders outside and
                    within Europe will be re-established and closed.
                    But one can be sure that when crossing borders becomes a privilege again,
                    inter-European families, networks and communities will get dispersed.
                </p>
                <p>
                    To grow and live (in) a free society we need freedom of exchange.
                    We need cooperation as a breeding ground for creativity and
                    inspiration, to safeguard peace and mutual understanding and
                    to collectively construct our commons.
                    Freedom of people just as freedom of code are fundamental to
                    Free, Libre and Open Source Software and their communities.
                </p>
                <p>
                    This project shall help growing a free society.
                    As long as inner-European borders can still be crossed and
                    international events are possible, this page is here
                    to encourage you to get to know and network with each other.
                    Create international organisations, form resilient communities and
                    build friendships with each other across borders.
                    Go to a FLOSS event in another country this year,
                    an event where you have never been before.
                    Get to know new people there, their habits, knowledge and
                    backgrounds. Help each other and listen to each other.
                    And above all do what you always love to do:
                </p>

                <p class="text-center py-4">
                    <b>Use, study, share and improve. Together.</b>
                </p>

                <div class="row mb-4">
                    <div class="col-6">
                        <div class="card w-100">
                            <div class="card-body shadow-sm fe-text-lg font-weight-bold">
                                <div class="mb-3">No Borders. No Nations.</div>
                                <div class="mb-3">Just Humans.</div>
                                <div>And Tech.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card w-100">
                            <div class="card-body shadow-sm fe-text-lg font-weight-bold">
                                <div class="mb-3">No DRM. No firewalls.</div>
                                <div class="mb-3">Just freedom.</div>
                                <div>And humans.</div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ partial "navup" . }}
            </div>

            <div class="mb-5" id="contribute">
                <h3 class="mb-3">Contribute</h3>
                <p>
                    If you know of an event that matches our <a href="#criteria">criteria [↓]</a> and
                    you do not see it already listed in our <a href="#upcoming">list of events [↑]</a>,
                    please contribute by
                    <a href="mailto:onemore@floss.events?subject=one more event">sending a contribution via mail</a>.
                    Simply copy-paste your event into the body section of your mail and
                    it will appear here or be updated.
                </p>
                <p class="text-center font-weight-bold fe-text-lg mb-0">
                    Thank you so much for your contribution!
                </p>
                <p class="fe-love text-center text-danger">
                    ❤
                </p>
                {{ partial "navup" . }}
            </div>

            <div class="mb-5" id="criteria">
                <h3 class="mb-3">Criteria</h3>
                <p>
                    This page is all about collecting a list of FLOSS community events.
                    Community can be companies, researchers, users, developers etc
                    who spread, develop, use or share software, published under a FLOSS license.
                    Events can be fairies, conferences, *-a-thons, camps and
                    other kind of events as long as they match the following criteria:
                </p>
                <ul>
                    <li>Only events that happen in Europe.</li>
                    <li>
                        Only events that are open for the general public.
                        Entrance fee is ok, but events shall be accessible for everyone to participate and
                        in particular not restricted to a specific group like the members
                        of a specific group, organisation or similar.
                    </li>
                    <li>
                        Only "full-day" events. As a rule of thumb,
                        that means events that are at least 6-8 hours or more.
                    </li>
                </ul>
                <p>
                    So if you know about a community-driven Free, Libre and/or
                    Open Source Software event in Europe that matches this criteria and
                    is happening in 2019, please <a href="#contribute">contribute [↑]</a> :)
                </p>
                {{ partial "navup" . }}
            </div>

            <div id="progress" class="mb-5">
                <h3 class="mb-3">Work in progress</h3>
                <p>
                    This page is work in progress.
                    It is build from scratch and shall become a database-driven web-project for and
                    by the FLOSS community to help connecting people.
                    If you are interested in sharing knowledge or improving something
                    <a href="mailto:contact@floss.events">get in contact</a>.
                </p>
                {{ partial "navup" . }}
            </div>
        </div>
    </div>
</div>
