<div class="fe-event mb-3">
    <div class="fe-event-date">
        {{ .day }}{{ if not (eq .day .end_day) }}-{{ .end_day }}{{ end }}
    </div>
    <div class="fe-event-description">
        <div>
            {{ if .homepage }}
            <a href="{{ .homepage }}" target="_blank">{{ .title }}</a>
            {{ else }}
            {{ .title }}
            {{ end }}
            in {{ .city }}
            <!--                <small>(<a href="">details</a>)</small>-->
        </div>
        <!-- todo only display for future events -->
        {{ if .cfp }}
        <div class="fe-event-cfp pt-1 pb-2 pl-5">
            <small>
                Take part in the <a href="{{ .cfp_link }}" target="_blank">Call for Participation</a>.
                Deadline:
                {{ if eq .cfp_date "open" }}
                    open
                {{ else }}
                    {{ dateFormat "02" .cfp_date}}.{{ dateFormat "01" .cfp_date }}.{{ dateFormat "06" .cfp_date }}
                {{ end }}
            </small>
        </div>
        {{ end }}
    </div>
</div>
