<div class="fe-event mb-3">
        <div class="fe-event-date">
            {{ .day }}
        </div>
        <div class="fe-event-description">
            <div>
                {{ if .context.Params.homepage }}
                <a href="{{ .context.Params.homepage }}" target="_blank">{{ .context.Params.title }}</a>
                {{ else }}
                {{ .context.Params.title }}
                {{ end }}
                in {{ .context.Params.city }}
                <small>(<a href="">details</a>)</small>
            </div>
            {{ if .context.Params.cfp }}
            <div class="fe-event-cfp pt-1 pb-2 pl-5">
                <small>
                    Take part in the <a href="{{ .context.Params.cfp_link }}" target="_blank">Call for Participation</a>.
                    Deadline: {{ .context.Params.cfp_date }}
                </small>
            </div>
            {{ end }}
        </div>
    </div>
