<div class="fe-event mb-3">
        <div class="fe-event-date">
            {{ .day }}{{ if not (eq .day .end_day) }}-{{ .end_day }}{{ end }}
        </div>
        <div class="fe-event-description">
            <div>
                {{ if .context.Params.homepage }}
                <a href="{{ .context.Params.homepage }}" target="_blank">{{ .context.Params.title }}</a>
                {{ else }}
                {{ .context.Params.title }}
                {{ end }}
                in {{ .context.Params.city }}
<!--                <small>(<a href="">details</a>)</small>-->
            </div>
            <!-- todo only display for future events -->
            {{ if .context.Params.cfp }}
            <div class="fe-event-cfp pt-1 pb-2 pl-5">
                <small>
                    Take part in the <a href="{{ .context.Params.cfp_link }}" target="_blank">Call for Participation</a>.
                    Deadline:
                    {{ if eq .context.Params.cfp_date "open" }}
                        open
                    {{ else }}
                        {{ dateFormat "02" .context.Params.cfp_date}}.{{ dateFormat "01" .context.Params.cfp_date }}.{{ dateFormat "06" .context.Params.cfp_date }}
                    {{ end }}
                </small>
            </div>
            {{ end }}
        </div>
    </div>
