<div id="nav">
<!--
<ul>
  <li><a href="/">Index</a></li>
  <li>Years
    <ul>
      <li><a href="/years/2018/">2018</a></li>
      <li><a href="/years/2019/">2019</a></li>
      <li><a href="/years/2020/">2020</a></li>
    </ul>
  </li>
</ul>
</div>
-->

<!-- menu start -->
<aside>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                <li>
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</aside>
