html {
    margin-left: 10%;
    margin-right: 10%;
}

body {
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
}

a {
    color: green;
    font-weight: bold;
}

.stickercontainer {
    box-sizing: content-box;
    border: 5px;
    padding: 0.5em 1em 0.5em 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eyecatcher {
    box-sizing: content-box;
    border: 5px;
    margin: 2em 30% 2em 30%;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5em;
    text-align: center;
}


.bgimp {
    background-image: url("https://floss.events/picturebase/europe-wo-borders-250a.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


h1.header {
    text-align: center;
}


h2.month {
    padding-top: 2em;
}


h2.navhead {
    padding-top: 2em;
}

.menu {
    text-align: center;
}

.menu__logo {
    display: inline-block;
    height: 2rem;
    position: relative;
    top: .2rem;
    width: 2rem;
}

div.topheading {
    text-align: center;
}

table.month {
    padding-left: 1em;
}

table.month th, td {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

table.tba {
    padding-left: 4em;
    opacity: 0.5;
}

table.tba th td {

    padding: 0.25em;
    font-size: 0.9em;
}

table td.globaldate {
    background-color: WhiteSmoke;
    text-align: center;
}


table td.globalaction {
    background-color: WhiteSmoke;
    text-align: center;
}


table.month p.eventcfp {
    padding-left: 4em;
    font-size: 0.8em;
    padding-bottom: 2em;
}


table.month p.eventcfppassed {
    padding-left: 4em;
    font-size: 0.8em;
    padding-bottom: 2em;
    text-decoration: line-through;
}


table.month p.eventname {
    margin: 0;
}


table.month a {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

table.month p.eventdate {
    margin: 0;
}
