
:root {
  --color-main-background: #ffffff;
  --color-main-text: #000;
  --color-event-props-label: #343a40;
  --color-event-title: #000;
  --url-logo-header-svg: url("/img/fossevents_headerlogo.svg");
  --color-top-menu-foss-events-logo: #000;
  --color-background-list-event-highlighted: WhiteSmoke;
  --color-badge-grey-text: #fff;
  --color-badge-grey-background: #6c757d;
  --url-toggle-header-svg: url("/img/menu_toggle.svg");
  --color-background-toots-page-badges: #eee;
}

@media (prefers-color-scheme: dark) {
   :root {
          --color-main-background: #2f2f2f; /*222222*/
          --color-main-text: #e7e7e7; /*#b7b6b6* dbdbdb*/
          --color-event-props-label: #ccc;
          --color-event-title: #ccc;
          --url-logo-header-svg: url("/img/fossevents_headerlogo-dark.svg");
          --color-top-menu-foss-events-logo: #dbdbdb;
          --color-background-list-event-highlighted: #3f3f3f;
          --color-badge-grey-text: #e7e7e7; /*d7d7d7 */
          --color-badge-grey-background: #606060;
          --url-toggle-header-svg: url("/img/menu_toggle-darkmode.svg");
          --color-background-toots-page-badges: #3f3f3f;
        }
}

.fe-light {
  --color-main-background: #ffffff;
  --color-main-text: #000;
  --color-event-props-label: #343a40;
  --color-event-title: #000;
  --url-logo-header-svg: url("/img/fossevents_headerlogo.svg");
  --color-top-menu-foss-events-logo: #000;
  --color-background-list-event-highlighted: WhiteSmoke;
  --color-badge-grey-text: #fff;
  --color-badge-grey-background: #6c757d;
  --url-toggle-header-svg: url("/img/menu_toggle.svg");
  --color-background-toots-page-badges: #eee;
}

.fe-dark {
          --color-main-background: #2f2f2f; /*222222*/
          --color-main-text: #e7e7e7; /*#b7b6b6* dbdbdb*/
          --color-event-props-label: #ccc;
          --color-event-title: #ccc;
          --url-logo-header-svg: url("/img/fossevents_headerlogo-dark.svg");
          --color-top-menu-foss-events-logo: #dbdbdb;
          --color-background-list-event-highlighted: #3f3f3f;
          --color-badge-grey-text: #e7e7e7; /*d7d7d7 */
          --color-badge-grey-background: #606060;
          --url-toggle-header-svg: url("/img/menu_toggle-darkmode.svg");
          --color-background-toots-page-badges: #3f3f3f;
}


html,
body {
    margin: 0;
    padding: 0;
  }


body {
    font-family: Cantarell, sans-serif;
    line-height: 1.5;
    background-color: var(--color-main-background);
    color: var(--color-main-text);

}



/* preloading */
body:after {
    content:
        url(/img/menu_Mastodon_darker.svg)
        url(/img/menu_Twitter_darker.svg)
        url(/img/menu_blog_darker.svg)
        url(/img/menu_GitHub_darker.svg)
        url(/img/menu_info_darker.svg)
        url(/img/menu_envelope_darker.svg);
    display: inline-block;
    height: 0;
    position: absolute;
    overflow: hidden;
    width: 0;
}

.content{
    padding-left: 5%;
    padding-right: 5%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .content {
        padding-left: 10%;
        padding-right: 10%;
    }
}

a {
    color: #34920a;
    font-weight: bold;
    text-decoration: none;
    transition: color 100ms linear;
}

a:hover {
    color: #266c08;
    text-decoration: underline;
}

.stickercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.stickercontainer__sticker {
    border: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    flex: 0 0 100%;
    padding: 0.5em 1em 0.5em 1em;
}

@media only screen and (min-width: 768px) {

    .stickercontainer {
        flex-direction: row;
    }

    .stickercontainer__sticker {
        flex: 0 1 auto;
        white-space: nowrap;
    }
}

.heart {
    color: #9b2c2c;
    font-size: 4rem;
    text-align: center;
}

.contribute-box {
    margin: 2em 0;
    text-align: center;
}

h2.navhead {
    padding-top: 2em;
}

.menu {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.menu--spacing-bottom {
    margin-bottom: 4rem;
}

.menu__hl {
    display: block;
    font-size: 1.75rem;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    color: var(--color-top-menu-foss-events-logo);
}

.menu__link {
    align-items: center;
    color: #000;
    display: flex;
    text-decoration: none;
}

.menu__link:hover {
    color: #000;
    text-decoration: none;
}

.h1-divider,
.h2-divider,
.menu__divider,
.footer__divider {
    background-color: #888;
    border: 0;
    height: 1px;
}

.menu__divider {
    margin-bottom: 1.4rem;
    margin-top: 0;
    width: 100%;
}

.menu__logo {
    display: inline-block;
    height: 4rem;
    margin: 0 auto;
    position: relative;
    top: .2rem;
    width: 4rem;
}

.menu__logo-container {
    display: block;
}

.menu__logo-container--second {
    display: none;
}

.menu-icons {
    align-items: flex-end;
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-top: .5rem;
}

@media only screen and (min-width: 576px) {
    .menu {
        align-items: center;
        flex-direction: row;
    }

    .menu-icons {
        margin-left: auto;
        margin-top: 0;
    }
}

.menu-icons__icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    transition: all 100ms linear;
    width: 2rem;
}

.menu-icons__icon--mastodon {
    background-image: url("/img/menu_Mastodon.svg");
}

.menu-icons__icon--mastodon:hover {
    background-image: url("/img/menu_Mastodon_darker.svg");
}

.menu-icons__icon--blog {
    background-image: url("/img/menu_blog.svg");
}

.menu-icons__icon--blog:hover {
    background-image: url("/img/menu_blog_darker.svg");
}

.menu-icons__icon--twitter {
    background-image: url("/img/menu_Twitter.svg");
}

.menu-icons__icon--twitter:hover {
    background-image: url("/img/menu_Twitter_darker.svg");
}

.menu-icons__icon--github {
    background-image: url("/img/menu_GitHub.svg");
}

.menu-icons__icon--matrix {
    background-color: #34920a;
    background-image: url("/img/icons/matrix.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem;
}

.menu-icons__icon--matrix:hover {
    background-color: #266c08;
}

.menu-icons__icon--github:hover {
    background-image: url("/img/menu_GitHub_darker.svg");
}

.menu-icons__icon--fossevents {
    background-image: var(--url-logo-header-svg);
    background-size: contain;
    border-radius: 0;
    margin-right: .5rem;
}

.menu-icons__icon--info {
    background-image: url("/img/menu_info.svg");
}

.menu-icons__icon--toggle {
    background-image: var(--url-toggle-header-svg);
}

.menu-icons__icon--info:hover {
    background-image: url("/img/menu_info_darker.svg");
}

.menu-icons__icon--envelope {
    background-image: url("/img/menu_envelope.svg");
}

.menu-icons__icon--envelope:hover {
    background-image: url("/img/menu_envelope_darker.svg");
}

@media only screen and (min-width: 768px) {

    .menu__logo {
        height: 2rem;
        margin: 0;
        width: 2rem;
    }

    .menu__logo-container {
        display: inline-block;
    }

    .menu__logo-container--second {
        display: inline-block;
    }
}

.years-menu {
    font-size: 1.5rem;
    text-align: center;
}

.navlinks {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.navlinks__separator {
    position: relative;
    top: -.2rem;
}

.navlinks__link {
    font-weight: normal;
    text-decoration: none;
}

.navlinks__link--active {
    font-weight: bold;
}

.h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-top: 2em;
    text-align: center;
}

.h2 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 2em;
    text-align: center;
}

.h2--left {
    text-align: left;
}

.h2--standalone {
    margin-bottom: 1rem;
}

.h1-divider,
.h2-divider {
    margin: 0 auto 2rem;
    width: 33%;
}

.nav-to-top {
    display: block;
    margin-top: 1.5rem;
    text-align: right;
}

.section {
    margin-bottom: 4rem;
}

/* event list/table */

.event-item__date {
    white-space: nowrap;
}

table.month {
    margin-bottom: 4rem;
}

table.month th, td {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

table.month th, td:first-of-type {
    padding-left: 0;
}

table.tba {
    padding-left: 4em;
    opacity: 0.5;
}

table.tba th td {
    padding: 0.25em;
    font-size: 0.9em;
}

.event--highlighted {
    background-color: var(--color-background-list-event-highlighted);
    text-align: center;
}

table.month p.eventcfp {
    padding-left: 1rem;
    font-size: 0.8em;
    padding-bottom: 2em;
}

table.month p.eventcfppassed {
    padding-left: 1em;
    font-size: 0.8em;
    padding-bottom: 2em;
    text-decoration: line-through;
}


table.month p.eventname {
    margin: 0;
}

.event__link {
    color: #34920a;
    font-weight: bold;
    text-decoration: none;
    transition: color 100ms linear;
}

.event--cancelled .event__link {
    color: #888;
    text-decoration: line-through;
}

.event--cancelled .event__link:hover {
    color: #333;
    text-decoration: line-through;
}

.event__cancellation-note {
    font-weight: bold;
}


.event-cancellation-note,
.event-replacement-note {
    background-color: #f8d7da;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: .75rem .75rem .75rem .75rem;
}

.event-replacement-note {
    background-color: #d4edda;
}

.event-cancellation-note__title,
.event-replacement-note__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.event-cancellation-note__text p:last-of-type,
.event-replacement-note__text p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

.event-cancellation-note__replacement {
    color: #721c24;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0;
}


table.month p.eventdate {
    margin: 0;
}

@media only screen and (min-width: 768px) {

    table.month {
        padding-left: 1em;
    }

    table.month th, td:first-of-type {
        padding-left: .5rem;
    }

    table.month p.eventcfp {
        padding-left: 4rem;
    }

    table.month p.eventcfppassed {
        padding-left: 4rem;
    }
}

/* event page */

.event__map {
    height: 15rem;
    margin-bottom: 1.5rem;
}

.event-title {
    font-size: 2.25rem;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 1rem;
    color: var(--color-event-title);
}

.event-subtitle {
    color: #6c757d;
}

.event-date {
    font-weight: bold;
    margin-top: 1rem;
}

.event-date__link {
    font-size: .75rem;
}

.event-location {
    margin-bottom: 2rem;
}

.event-location__link {
    font-size: .75rem;
}

.event-props {
    margin-bottom: 3rem;
}

.event-props__group {
    margin-bottom: 1rem;
}

.event-props__label {
    color: var(--color-event-props-label);
    font-weight: bold;
    margin-bottom: .25rem;
    vertical-align: top;
    white-space: nowrap;
}

.event-props__content {
    padding: 0 0 1rem;
    vertical-align: top;
}

.event-props__content p:first-of-type {
    margin-top: 0;
}

.event-props__content p:last-of-type {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {

    .event-props {
        display: table;
    }

    .event-props__group {
        display: table-row;
        margin-bottom: 0;
    }

    .event-props__content {
        display: table-cell;
    }

    .event-props__label {
        display: table-cell;
        margin-bottom: 0;
        padding: 0 1rem 1rem 0;
        text-align: right;
    }
}

.event__onlinebanner {
    display: block;
    margin: 0 auto 2rem;
    max-height: 15rem;
    max-width: 100%;
}

/* footer */

.footer {
    margin-top: 4rem;
    text-align: center;
}

.footer__content {
    padding: 3rem 0;
}

.footer__divider {
    width: 100%;
}

.footer__heart {
    color: #9B2C2C;
}

/* button */

.fe-button {
    background: #339109;
    border: 0;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: .3rem .6rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 100ms linear;
}

.fe-button:hover {
    background: #1A7800;
    color: white;
    text-decoration: none;
}


/* about page */

.about-nav {
    display: flex;
    justify-content: center;
}

.about-nav-headline {
    margin-top: 5rem;
    text-align: center;
}

.about-nav__item {
    margin-bottom: .5rem;
    margin-right: .5rem;
}

.about-nav__item:hover {
    background: #1A7800;
    color: white;
    text-decoration: none;
}

.about-four-freedoms {
    margin: 2rem 0;
    text-align: center;
}

.img-link-center {
    display: block;
    text-align: center;
}

.text-center {
    text-align: center;
}

/* Badges */

.badge {
    border-radius: .25rem;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .25em .4em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.badge--grey {
    color: var(--color-badge-grey-text);
    background-color: var(--color-badge-grey-background);
}

.badge--green {
    color: #fff;
    background-color: #34920a;
}

.badge--orange {
    color: #fff;
    background-color: #fac608;
}

.badge--red {
    color: #fff;
    background-color: #920a35;
}

.fedifeed {
    border: 1px solid #888;
    height: 800px;
    width: 100%;
}

.fedifeed--event {
    margin-bottom: 2rem;
}

.icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1rem;
    width: 1rem;
}

.icon--mastodon {
    background-image: url("/img/menu_Mastodon.svg");
}

.introduction {
    margin-bottom: 4rem;
}

.blog-item {
    margin-bottom: 4rem;
}

.blog-item__title {
    margin: 0;
}

.blog-item__date,
.blog-post__date {
    color: #6c757d;
    margin-bottom: 1rem;
}

.blog-item__summary {
    margin-bottom: .5rem;
    padding-left: 2rem;
}

.blog-item__link {
    padding-left: 2rem;
}

.blog-post img {
    max-width: 100%;
}

.blog-post__title {
    margin: 2rem 0 0;
}

.toot {
    margin-bottom: 2rem;
}

.toot pre {
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: .25rem;
    margin-bottom: 1rem;
    padding: .75rem;
    white-space: pre-wrap;
}

.fe-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.fe-field-input {
    padding: 8px 16px;
}

.fe-field-label {
    font-weight: bold;
}

.fe-field-description {
    color: #444;
    font-size: 12px;
    margin-top: 4px;
}

.fe-form-group {
    border: 0;
    margin: 0 0 32px;
    padding: 0;
}
