html,
body {
    margin: 0;
    padding: 0;
}

html {
    margin-left: 5%;
    margin-right: 5%;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* preloading */
body:after {
    content: url(/img/menu_Mastodon_darker.svg) url(/img/menu_Twitter_darker.svg) url(/img/menu_GitHub_darker.svg) url(/img/menu_info_darker.svg) url(/img/menu_envelope_darker.svg);
    display: inline-block;
    height: 0;
    position: absolute;
    overflow: hidden;
    width: 0;
}

@media only screen and (min-width: 768px) {
    html {
        margin-left: 10%;
        margin-right: 10%;
    }
}

a {
    color: #34920a;
    font-weight: bold;
    text-decoration: none;
    transition: color 100ms linear;
}

a:hover {
    color: #266c08;
    text-decoration: underline;
}

.stickercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.stickercontainer__sticker {
    border: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    flex: 0 0 100%;
    padding: 0.5em 1em 0.5em 1em;
}

@media only screen and (min-width: 768px) {

    .stickercontainer {
        flex-direction: row;
    }

    .stickercontainer__sticker {
        flex: 0 1 auto;
        white-space: nowrap;
    }
}

.heart {
    color: #9b2c2c;
    font-size: 4rem;
    text-align: center;
}

.contribute-box {
    margin: 2em 0;
    text-align: center;
}

.contribute-box__content {
    border: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.33);
    box-sizing: content-box;
    display: inline-block;
    overflow: visible;
    padding: .5rem 2rem;
}

h2.navhead {
    padding-top: 2em;
}

.menu {
    padding: 2rem 0 0;
    text-align: center;
}

.menu--spacing-bottom {
    margin-bottom: 4rem;
}

.menu__hl {
    display: block;
    font-size: 2.25rem;
    margin: 0 0 .85rem;
}

.menu__link {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.menu__link:hover {
    color: #000;
    text-decoration: none;
}

.h1-divider,
.h2-divider,
.menu__divider,
.footer__divider {
    background-color: #888;
    border: 0;
    height: 1px;
}

.menu__divider {
    margin-bottom: 1.4rem;
    margin-top: 0;
    width: 100%;
}

.menu__logo {
    display: inline-block;
    height: 4rem;
    margin: 0 auto;
    position: relative;
    top: .2rem;
    width: 4rem;
}

.menu__logo-container {
    display: block;
}

.menu__logo-container--second {
    display: none;
}

.menu-icons {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.menu-icons__line {
    display: none;
}

@media only screen and (min-width: 768px) {
    .menu-icons__line {
        background-color: #888;
        display: block;
        flex: 0 1 5rem;
        height: 1px;
    }
}

.menu-icons__line:first-of-type {
    margin-right: .8rem;
}

.menu-icons__icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 2.5rem;
    margin-right: .8rem;
    transition: all 100ms linear;
    width: 2.5rem;
}

.menu-icons__icon:last-of-type {
    margin-right: 0;
}

.menu-icons__icon--mastodon {
    background-image: url("/img/menu_Mastodon.svg");
}

.menu-icons__icon--mastodon:hover {
    background-image: url("/img/menu_Mastodon_darker.svg");
}

.menu-icons__icon--twitter {
    background-image: url("/img/menu_Twitter.svg");
}

.menu-icons__icon--twitter:hover {
    background-image: url("/img/menu_Twitter_darker.svg");
}

.menu-icons__icon--github {
    background-image: url("/img/menu_GitHub.svg");
}

.menu-icons__icon--github:hover {
    background-image: url("/img/menu_GitHub_darker.svg");
}

.menu-icons__icon--fossevents {
    background-image: url("/img/fossevents_nippelspace.svg");
    background-size: contain;
    height: 3rem;
    width: 3rem;
}

.menu-icons__icon--info {
    background-image: url("/img/menu_info.svg");
}

.menu-icons__icon--info:hover {
    background-image: url("/img/menu_info_darker.svg");
}

.menu-icons__icon--envelope {
    background-image: url("/img/menu_envelope.svg");
}

.menu-icons__icon--envelope:hover {
    background-image: url("/img/menu_envelope_darker.svg");
}


@media only screen and (min-width: 768px) {

    .menu__logo {
        height: 2rem;
        margin: 0;
        width: 2rem;
    }

    .menu__logo-container {
        display: inline-block;
    }

    .menu__logo-container--second {
        display: inline-block;
    }
}

.navlinks {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.navlinks__separator {
    position: relative;
    top: -.2rem;
}

.navlinks__link {
    font-weight: normal;
    text-decoration: none;
}

.navlinks__link--active {
    font-weight: bold;
}

.h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-top: 2em;
    text-align: center;
}

.h2 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 2em;
    text-align: center;
}

.h2--left {
    text-align: left;
}

.h2--standalone {
    margin-bottom: 1rem;
}

.h1-divider,
.h2-divider {
    margin: 0 auto 2rem;
    width: 33%;
}

.nav-to-top {
    display: block;
    margin-top: 1.5rem;
    text-align: right;
}

.section {
    margin-bottom: 4rem;
}

/* event list/table */

.event-item__date {
    white-space: nowrap;
}

table.month {
    margin-bottom: 4rem;
}

table.month th, td {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

table.month th, td:first-of-type {
    padding-left: 0;
}

table.tba {
    padding-left: 4em;
    opacity: 0.5;
}

table.tba th td {
    padding: 0.25em;
    font-size: 0.9em;
}

.event--highlighted {
    background-color: WhiteSmoke;
    text-align: center;
}

table.month p.eventcfp {
    padding-left: 1rem;
    font-size: 0.8em;
    padding-bottom: 2em;
}

table.month p.eventcfppassed {
    padding-left: 1em;
    font-size: 0.8em;
    padding-bottom: 2em;
    text-decoration: line-through;
}


table.month p.eventname {
    margin: 0;
}

.event__link {
    color: #34920a;
    font-weight: bold;
    text-decoration: none;
    transition: color 100ms linear;
}

.event--cancelled .event__link {
    color: #888;
    text-decoration: line-through;
}

.event--cancelled .event__link:hover {
    color: #333;
    text-decoration: line-through;
}

.event__cancellation-note {
    font-weight: bold;
}


.event-cancellation-note,
.event-replacement-note {
    background-color: #f8d7da;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: .75rem .75rem .75rem .75rem;
}

.event-replacement-note {
    background-color: #d4edda;
}

.event-cancellation-note__title,
.event-replacement-note__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.event-cancellation-note__text p:last-of-type,
.event-replacement-note__text p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

.event-cancellation-note__replacement {
    color: #721c24;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0;
}


table.month p.eventdate {
    margin: 0;
}

@media only screen and (min-width: 768px) {

    table.month {
        padding-left: 1em;
    }

    table.month th, td:first-of-type {
        padding-left: .5rem;
    }

    table.month p.eventcfp {
        padding-left: 4rem;
    }

    table.month p.eventcfppassed {
        padding-left: 4rem;
    }
}

/* event page */

.event-map {
    height: 15rem;
    margin-bottom: 1.5rem;
}

.event-title {
    font-size: 2.25rem;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 1rem;
}

.event-date {
    font-weight: bold;
    margin-top: 1rem;
}

.event-date__link {
    font-size: .75rem;
}

.event-location {
    margin-bottom: .5rem;
}

.event-location__link {
    font-size: .75rem;
}

.event-props {
    margin-bottom: 3rem;
}

.event-props__group {
    margin-bottom: 1rem;
}

.event-props__label {
    color: #343a40;
    font-weight: bold;
    margin-bottom: .25rem;
    vertical-align: top;
    white-space: nowrap;
}

.event-props__content {
    padding: 0 0 1rem;
    vertical-align: top;
}

.event-props__content p:first-of-type {
    margin-top: 0;
}

.event-props__content p:last-of-type {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {

    .event-props {
        display: table;
    }

    .event-props__group {
        display: table-row;
        margin-bottom: 0;
    }

    .event-props__content {
        display: table-cell;
    }

    .event-props__label {
        display: table-cell;
        margin-bottom: 0;
        padding: 0 1rem 1rem 0;
        text-align: right;
    }
}

/* footer */

.footer {
    margin-top: 4rem;
    text-align: center;
}

.footer__content {
    margin: 3rem 0;
}

.footer__divider {
    width: 100%;
}

.footer__heart {
    color: #9B2C2C;
}

/* about page */

.about-nav-headline {
    margin-top: 5rem;
    text-align: center;
}

.about-nav {
    text-align: center;
}

.about-nav__item {
    background: #339109;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .3rem .4rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 100ms linear;
    width: 8rem;
}

.about-nav__item:hover {
    background: #1A7800;
    color: white;
    text-decoration: none;
}

.about-four-freedoms {
    margin: 2rem 0;
    text-align: center;
}

.img-link-center {
    display: block;
    text-align: center;
}

.text-center {
    text-align: center;
}

/* Badges */

.badge {
    border-radius: .25rem;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .25em .4em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.badge--grey {
    color: #fff;
    background-color: #6c757d;
}
