html {
    margin-left: 5%;
    margin-right: 5%;
}

body {
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    html {
        margin-left: 10%;
        margin-right: 10%;
    }
}

a {
    color: #34920a;
    font-weight: bold;
}

.stickercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.stickercontainer__sticker {
    border: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    flex: 0 0 100%;
    padding: 0.5em 1em 0.5em 1em;
}

@media only screen and (min-width: 768px) {

    .stickercontainer {
        flex-direction: row;
    }

    .stickercontainer__sticker {
        flex: 0 1 auto;
        white-space: nowrap;
    }
}

.heart {
    color: #9b2c2c;
    font-size: 4rem;
    text-align: center;
}

.contribute-box {
    margin: 2em 0;
    text-align: center;
}

.contribute-box__content {
    border: 5px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
    box-sizing: content-box;
    display: inline-block;
    overflow: visible;
    padding: .5rem 2rem;
}

h1.header {
    text-align: center;
}

h2.navhead {
    padding-top: 2em;
}

.menu {
    padding: 2rem 2rem 0;
    text-align: center;
}

.menu--spacing-bottom {
    margin-bottom: 4rem;
}

.menu__hl {
    display: block;
}

.menu__link {
    color: #000;
    text-decoration: none;
}

.menu__divider {
    background-color: #000;
    border: 0;
    height: 3px;
}

.menu__logo {
    display: inline-block;
    height: 4rem;
    margin: 0 auto;
    position: relative;
    top: .2rem;
    width: 4rem;
}

.menu__logo-container {
    display: block;
}

.menu__logo-container--second {
    display: none;
}

@media only screen and (min-width: 768px) {

    .menu__logo {
        height: 2rem;
        margin: 0;
        width: 2rem;
    }

    .menu__logo-container {
        display: inline-block;
    }

    .menu__logo-container--second {
        display: inline-block;
    }
}

.navlinks {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.navlinks__separator {
    position: relative;
    top: -.2rem;
}

.navlinks__link {
    font-weight: normal;
    text-decoration: none;
}

.navlinks__link--active {
    font-weight: bold;
}

.topheading {
    padding-top: 2em;
    text-align: center;
}

.topheading__divider {
    margin-bottom: 4rem;
}

.nav-to-top {
    display: block;
    margin-top: 1.5rem;
    text-align: right;
}

.section {
    margin-bottom: 4rem;
}

/* event list/table */

table.month {
    margin-bottom: 4rem;
}

table.month th, td {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

table.month th, td:first-of-type {
    padding-left: 0;
}

table.tba {
    padding-left: 4em;
    opacity: 0.5;
}

table.tba th td {
    padding: 0.25em;
    font-size: 0.9em;
}

.event--highlighted {
    background-color: WhiteSmoke;
    text-align: center;
}

table.month p.eventcfp {
    padding-left: 1rem;
    font-size: 0.8em;
    padding-bottom: 2em;
}

table.month p.eventcfppassed {
    padding-left: 1em;
    font-size: 0.8em;
    padding-bottom: 2em;
    text-decoration: line-through;
}


table.month p.eventname {
    margin: 0;
}

table.month a {
    color: #34920a;
    font-weight: bold;
    text-decoration: none;
}

table.month p.eventdate {
    margin: 0;
}

@media only screen and (min-width: 768px) {

    table.month {
        padding-left: 1em;
    }

    table.month th, td:first-of-type {
        padding-left: .5rem;
    }

    table.month p.eventcfp {
        padding-left: 4rem;
    }

    table.month p.eventcfppassed {
        padding-left: 4rem;
    }
}

/* event page */

.event-map {
    height: 15rem;
    margin-bottom: 1.5rem;
}

.event-title {
    font-size: 2.25rem;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 1rem;
}

.event-date {
    font-weight: bold;
    margin-top: 1rem;
}

.event-date__link {
    font-size: .75rem;
}

.event-location {
    margin-bottom: .5rem;
}

.event-location__link {
    font-size: .75rem;
}

.event-props {
    margin-bottom: 3rem;
}

.event-props__group {
    margin-bottom: 1rem;
}

.event-props__label {
    color: #343a40;
    font-weight: bold;
    margin-bottom: .25rem;
    vertical-align: top;
    white-space: nowrap;
}

.event-props__content {
    padding: 0 0 1rem;
    vertical-align: top;
}

.event-props__content p:first-of-type {
    margin-top: 0;
}

.event-props__content p:last-of-type {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {

    .event-props {
        display: table;
    }

    .event-props__group {
        display: table-row;
        margin-bottom: 0;
    }

    .event-props__content {
        display: table-cell;
    }

    .event-props__label {
        display: table-cell;
        margin-bottom: 0;
        padding: 0 1rem 1rem 0;
        text-align: right;
    }
}

/* footer */

.footer {
    padding: 3rem 0 4rem;
    text-align: center;
}

.footer__heart {
    color: #9B2C2C;
}

/* about page */

.about-nav-headline {
    margin-top: 5rem;
    text-align: center;
}

.about-nav {
    text-align: center;
}

.about-nav__item {
    background: #339109;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .3rem .4rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 100ms linear;
    width: 8rem;
}

.about-nav__item:hover {
    background: #1A7800;
}

.about-four-freedoms {
    margin: 2rem 0;
    text-align: center;
}

.img-link-center {
    display: block;
    text-align: center;
}

.text-center {
    text-align: center;
}
