html {
    margin-left: 10%;
    margin-right: 10%;
}

body {
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #34920a;
    font-weight: bold;
}

.stickercontainer {
    box-sizing: content-box;
    border: 5px;
    padding: 0.5em 1em 0.5em 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contribute-box {
    border: 5px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
    box-sizing: content-box;
    margin: 2em 30% 2em 30%;
    padding: 0.5em;
    text-align: center;
}

.bgimp {
    background-image: url("/img/europe-wo-borders-250a.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1.header {
    text-align: center;
}


h2.month {
    padding-top: 2em;
}


h2.navhead {
    padding-top: 2em;
}

.menu {
    padding: 2rem 2rem 0;
    text-align: center;
}

.menu--spacing-bottom {
    margin-bottom: 4rem;
}

.menu__link {
    color: #000;
    text-decoration: none;
}

.menu__divider {
    background-color: #000;
    border: 0;
    height: 3px;
}

.menu__logo {
    display: inline-block;
    height: 2rem;
    position: relative;
    top: .2rem;
    width: 2rem;
}

.navlinks {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.navlinks__separator {
    position: relative;
    top: -.2rem;
}

.navlinks__link {
    font-weight: normal;
    text-decoration: none;
}

.navlinks__link--active {
    font-weight: bold;
}

.topheading {
    padding-top: 2em;
    text-align: center;
}

table.month {
    padding-left: 1em;
}

table.month th, td {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

table.tba {
    padding-left: 4em;
    opacity: 0.5;
}

table.tba th td {
    padding: 0.25em;
    font-size: 0.9em;
}

.event--highlighted {
    background-color: WhiteSmoke;
    text-align: center;
}

table.month p.eventcfp {
    padding-left: 4em;
    font-size: 0.8em;
    padding-bottom: 2em;
}

table.month p.eventcfppassed {
    padding-left: 4em;
    font-size: 0.8em;
    padding-bottom: 2em;
    text-decoration: line-through;
}


table.month p.eventname {
    margin: 0;
}


table.month a {
    color: #34920a;
    font-weight: bold;
    text-decoration: none;
}

table.month p.eventdate {
    margin: 0;
}

/* event page */

.event-map {
    height: 15rem;
    margin-bottom: 1.5rem;
}

.event-title {
    font-size: 2.25rem;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 1rem;
}

.event-date {
    font-weight: bold;
    margin-top: 1rem;
}

.event-location {
    margin-bottom: .5rem;
}

.event-location__link {
    font-size: .75rem;
}

.event-table {
    margin-bottom: 3rem;
}

.event-table__label {
    color: #343a40;
    font-weight: bold;
    padding: 0 1rem 1rem 0;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

.event-table__content {
    padding: 0 0 1rem;
    vertical-align: top;
}

.event-table__content p:first-of-type {
    margin-top: 0;
}

.event-table__content p:last-of-type {
    margin-bottom: 0;
}

.event-cfp__deadline {
    font-size: .9rem;
}

/* footer */

.footer {
    padding: 3rem 0 4rem;
    text-align: center;
}

.footer__heart {
    color: #9B2C2C;
}
