{{ partial "head" . }}
{{ partial "header" . }}

<div class="container pt-5">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="mb-6">
                <p>
                    This page is <a href="about">about</a> connecting people beyond borders and
                    nations who understand the benefits of sharing knowledge and
                    to collectively use, study, share and improve it for everyone.
                </p>
                <p>
                    You find a list of Free, Libre and/or Open Source Software (related) events
                    happening in Europe in 2019 below, chronologically sorted into upcoming and passed.
                    If you know about an event that is not yet listed here and
                    it matches the <a href="#criteria">criteria</a>, please <a href="#contribute">contribute</a>.
                </p>
                <p>
                    This page is work in <a href="#progress">progress</a>. Any questions?
                    Get in <a href="mailto:contact@floss.events">contact</a>.
                </p>
            </div>
            {{ .Content }}
        </div>
    </div>
</div>

{{ partial "about" . }}

{{ partial "footer" . }}
