// Overwritten bootstrap variables

// Color system

$primary: #007c00;


// Spacing

$spacers: (
  6: 4rem
);


// Typography

$font-family-base: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
