RedirectMatch 301 ^/2020$ /

<IfModule mod_headers.c>
    <FilesMatch "\\.(ico|jpg|jpeg|png|gif|swf|ttf|otf|woff|woff2|eot|svg)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
    <FilesMatch "\\.(css)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
    <FilesMatch "\\.(js)$">
        Header set Cache-Control "max-age=86400, private"
    </FilesMatch>
</IfModule>
